{% extends "layout.html" %}

{% block style %}
<style>
form {
	margin-bottom: 3em;
}
input {
	max-width: 3em;
	margin: 0 1.5em;
	text-align: center;
}
#btn-calcul,
.btn-calcul {
	text-decoration: none;
	border: 1px;
	border-radius: 0.5em;
	border-color: #ec5354;
	border-style: solid;
	padding: 0.5em;
	margin: 1em auto;
	color: #ec5354;
	width: 47%;
	text-align: center;
	display: block;
}
#result {
	margin: 0 !important;
	padding: 0.5em !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.double-column {
	display: inline-block;
	padding: 0.1em !important;
	vertical-align: top;
	margin: 0.1em !important;
	width: 47%;
	text-align: center;
}
@media only screen and (max-width: 750px) {
	.double-column {
		width: 100% !important;
		display: block;
	}
}
</style>
{% endblock %}
