{% extends "layout.html" %}

{% block title %}
Section Maths
{% endblock %}

{% block content %}
<h1>Calculs liés à Magic</h1>
<p>
	{% trans trimmed %}
	Cette section fournit des calculs mathématiques pour <strong>Magic: the Gathering</strong>.
	{% endtrans %}
</p>
{{ bootstrap.card("Amass the Components", "/tools/combo-a-b") }}
{{ bootstrap.card("Winota, Joiner of Forces", "/tools/ikomaths") }}

<p>
	{% trans trimmed %}
	Cette section fournit des outils pour l'organisation de tournois en ligne de
	<strong>Magic: the Gathering</strong>.
	{% endtrans %}
</p>
{{ bootstrap.card("Drawn from Dreams", "/tools/tirage-au-sort") }}
<p>
	<em>D'autres outils à venir ...</em>
</p>
{% endblock %}
