{% extends "archetypes/_layout.html" %}

{% block moxfield -%}
u0eDXwIGvEaEAj4Y4zjy3Q
{%- endblock %}

{% block bans %}
<p>
    {% trans trimmed %}
    Les decks {{ asmoranomardicadaistinaculdacar }} sont un type de combo agressif très
    particulier. Dans le sens où ils combinent un plan agressif d'un côté, en jouant une 3/3 pour 1
    mana -généralement au tour 1 ou 2- et de l'autre côté une masse critique de synergies basées
    sur la défausse et l'utilisation du cimetière. Tout cela permet aux decks construits autour de
    ce commandant d'avoir une récursion importante à disposition à tout moment.
    {% endtrans %}
</p>

<p>
    {% trans trimmed %}
    Bien qu'il soit indéniable que ces decks souffrent de quelques mauvais matchs, ils ont toujours
    un avantage écrasant par rapport aux autres decks agressifs, principalement l'accessibilité
    récurrente aux effets de gestion. Cette gestion du champ de bataille devient accessible via un
    artefact complémentaire, un type permanent que les decks les plus agressifs ne peuvent pas
    gérer assez vite ou assez souvent, sauf si cela se fait au prix de concessions dans la
    construction du deck.
    {% endtrans %}
</p>

<p>
    {% trans trimmed %}
    Cette double spécificité pose un problème fondamental, dans le sens qu'elle tend à asphyxier la
    diversité des archétypes agressifs qui étaient, jusqu'à présent, plutôt équilibrés. Pour ces
    raisons, nous avons choisi d'interdire Asmoranomardicadaistinaculdacar en tant que commandant.
    {% endtrans %}
</p>
{% endblock %}
