{% extends "matchs/_layout_matchs.html" %}

### PRESENTATION ###
{% block analyse %}
    La configuration de ce matchup est très en faveur de Shorikai. En effet,
    Minsc repose sur ses créatures pour créer des combos et Shorikai est
    spécialisé dans la gestion des sorts et des créatures. Cela en fait un
    matchup très déséquilibré en faveur de Shorikai même si Minsc peut arriver
    à surprendre de temps en temps avec des départs en combo impromptus.
{% endblock %}


### JOUEURS ###
{% set joueur1 = "Spigushe" %}
{% set joueur2 = "Domino" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/vcH3yBTGjY0" %}
{% set date = "15 mars 2022" %}

### LEGENDE ###
{% block pilote1 %}{{ pilote.spigushe() }}{% endblock %}
{% block deck1 %}{{ deck.card("/decks/minsc-beloved-ranger") }}{% endblock %}
{% block deck2 %}{{ deck.card("/decks/shorikai-genesis-engine") }}{% endblock %}
{% block pilote2 %}{{ pilote.domino() }}{% endblock %}
