{% extends "matchs/_layout_matchs.html" %}

### PRESENTATION ###
{% block analyse %}
    Shorikai est un deck qui a besoin de temps pour s'installer et développer
    son plan de jeu. C'est là que le bât blesse. En effet, Elmar-Sophina va
    chercher à tout prix à imposer un rythme de jeu rapide voire très rapide
    pour que Shorikai ne puisse pas s'installer. A l'instar de decks comme Kari
    Zev qui sont des prédateurs de Shorikai, Elmar-Sophina semble avantagé dans
    cet affrontement.
{% endblock %}


### JOUEURS ###
{% set joueur1 = "Spigushe" %}
{% set joueur2 = "Domino" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/0XT8pRjqLs8" %}
{% set date = "26 avril 2022" %}

### LEGENDE ###
{% block pilote1 %}{{ pilote.spigushe() }}{% endblock %}
{% block deck1 %}{{ deck.card("/decks/elmarsophina", "img/split-crop/elmar-sophina.jpg") }}{% endblock %}
{% block deck2 %}{{ deck.card("/decks/shorikai-genesis-engine") }}{% endblock %}
{% block pilote2 %}{{ pilote.domino() }}{% endblock %}
