{% extends "matchs/_layout_matchs.html" %}

### PRESENTATION ###
{% block analyse %}
{% endblock %}


### JOUEURS ###
{% set joueur1 = "Spigushe" %}
{% set joueur2 = "Domino" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/-vIGz2GvEuk" %}
{% set date = "17 mai 2022" %}

### LEGENDE ###
{% block pilote1 %}{{ pilote.spigushe() }}{% endblock %}
{% block deck1 %}{{ deck.card("/decks/raffine-scheming-seer") }}{% endblock %}
{% block deck2 %}{{ deck.card("/decks/tivit-seller-of-secrets") }}{% endblock %}
{% block pilote2 %}{{ pilote.domino() }}{% endblock %}
