{% extends "matchs/_layout_matchs.html" %}

### PRESENTATION ###
{% block analyse %}
{% endblock %}


### JOUEURS ###
{% set joueur1 = "Aliquanto" %}
{% set joueur2 = "Imperia86" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/KQe119v3fGg" %}
{% set date = "7 juin 2022" %}

### LEGENDE ###
{% block pilote1 %}{{ pilote.aliquanto() }}{% endblock %}
{% block deck1 %}{{ deck.card("/decks/minscboo-timeless-heroes") }}{% endblock %}
{% block deck2 %}{{ deck.card("/decks/grist-the-hunger-tide") }}{% endblock %}
{% block pilote2 %}{{ pilote.imperia86() }}{% endblock %}
