{% extends "matchs/_layout_matchs.html" %}

### PRESENTATION ###
{% block analyse %}
{% endblock %}


### JOUEURS ###
{% set joueur1 = "threem" %}
{% set joueur2 = "Domino" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/gi1c20kB4pw" %}
{% set date = "21 juin 2022" %}

### LEGENDE ###
{% block pilote1 %}{{ pilote.threem() }}{% endblock %}
{% block deck1 %}{{ deck.card("/decks/hogaak-arisen-necropolis") }}{% endblock %}
{% block deck2 %}{{ deck.card("/decks/minscboo-timeless-heroes") }}{% endblock %}
{% block pilote2 %}{{ pilote.domino() }}{% endblock %}
