{% extends "matchs/_layout_matchs.html" %}

### PRESENTATION ###
{% block analyse %}
    La stratégie principale de cette version de Klothys est de casser les
    terrains de l'adversaires pour garantir l'inévitabilité de sa capacité
    déclenchée. Contre ce type de plan de jeu, Aminatou doit protéger ses
    ressources et empêcher Klothys de prendre le dessus. Au final, le matchup
    est en faveur de Klothys de part la diversité de ses menaces.
{% endblock %}


### JOUEURS ###
{% set joueur1 = "Spigushe" %}
{% set joueur2 = "Domino" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/RmOc1bQHlZc" %}
{% set date = "11 janvier 2022" %}

### LEGENDE ###
{% block pilote1 %}{{ pilote.spigushe() }}{% endblock %}
{% block deck1 %}{{ deck.card("/decks/aminatou-the-fateshifter") }}{% endblock %}
{% block deck2 %}{{ deck.card("/decks/klothys-god-of-destiny") }}{% endblock %}
{% block pilote2 %}{{ pilote.domino() }}{% endblock %}
