{% extends "matchs/_layout_matchs.html" %}

### PRESENTATION ###
{% block analyse %}
    La version créatures de Niv-Mizzet permet au deck d'utiliser ses ressources
    plus agressivement. Cependant, la posture réactive de Esika lui permet
    d'encaisser une grande partie de la pression. De plus, le deck est en
    mesure d'empêcher la résolution de Niv-Mizzet lui refusant tout moyen de
    récupérer des ressources qui seraient nécessaires pour remporter la partie.
    Au final, le matchup est assez équilibré et pousse les pilotes à multiplier
    les interactions.
{% endblock %}


### JOUEURS ###
{% set joueur1 = "Midas" %}
{% set joueur2 = "Imperia86" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/20aRBNFAwrU" %}
{% set date = "25 janvier 2022" %}

### LEGENDE ###
{% block pilote1 %}{{ pilote.midas() }}{% endblock %}
{% block deck1 %}{{ deck.card("/decks/esika-god-of-the-tree") }}{% endblock %}
{% block deck2 %}{{ deck.card("/decks/nivmizzet-reborn") }}{% endblock %}
{% block pilote2 %}{{ pilote.imperia86() }}{% endblock %}
