{% extends "matchs/_layout_decks.html" %}

### PRESENTATION ###
{% block analyse %}
    L'épreuve du deck mono-noir lors du pilotage d'un deck combo basé sur des
    créatures est assez rude. L'objectif principal de Prossh est de partir en
    combo dès que possible pour limiter l'impact des cartes apportées par
    Tevesh si la partie vient à durer. Le matchup est très en faveur de Miara-
    Tevesh.
{% endblock %}


### JOUEURS ###
{% set joueur1 = "Domino" %}
{% set joueur2 = "damienade_" %}

### VIDEO ###
{% set youtube = "https://www.youtube.com/embed/eCYpWp7ayak" %}
{% set date = "1er février 2022" %}

### LEGENDE ###
{% block legende %}
<div class="d-flex flex-wrap justify-content-around py-2 mt-2">
    <div class="col-3 align-self-center">
        {{ pilote.domino() }}
    </div>
    <div class="col-3 px-1 align-self-center">
        {{ deck.card("/decks/miaratevesh", "img/split-crop/miara-tevesh.jpg") }}
    </div>
    <div class="col-3 px-1 align-self-center">
        {{ deck.card("/decks/prossh-skyraider-of-kher") }}
    </div>
    <div class="col-3 align-self-center">
        {{ pilote.apparition("damienade_") }}
    </div>
</div>
{% endblock %}
