{% extends "layout.html" %}

{% macro liste(dict) %}
    {% for item in dict %}
        {{ match.card3(item) }}
    {% endfor %}
{% endmacro %}

{% block banner %}
<div class="banner_container col-12">
    <img src="{{ url_for('static', filename='img/banner.jpg') }}" alt="Bannière" class="opacity-75" width="100%">
    <div class="centered"><h1 class="fs-1">Liste des matchs</h1></div>
</div>
{% endblock %}

{% set list = request.args.get('l') or "" %}

{% block article %}
<article class="col-8 ms-auto me-auto my-4">
    {% block ogdesc %}
    Liste des matché joués lors des soirées sur
    {{ external("https://www.twitch.tv/leschroniquesducommander", "<i class='fa-brands fa-twitch'></i> Twitch", _class="text-reset")}}.
    Une analyse des parties et des liens vers les decks joués sont disponibles
    sur chaque page de deck.
    {% endblock %}
</article>
{{ separateur() }}

{% if (list == "") or (list == "01a10") %}
<div class="col-12 bg-header py-4 mt-1 mb-2">
    <div class="col-8 ms-auto me-auto">
        <h2>Matchs 1 à 10</h2>
    </div>
</div>
<article class="col-8 ms-auto me-auto my-4">
<div class="row py-3 d-flex flex-wrap justify-content-around">
    {{ liste(matchs_0110) }}
</div>
</article>
{% endif %}
{% if list == "" %}
{{ separateur() }}
{% endif %}

{% if (list == "") or (list == "11a20") %}
<div class="col-12 bg-header py-4 mt-1 mb-2">
    <div class="col-8 ms-auto me-auto">
        <h2>Matchs 11 à 20</h2>
    </div>
</div>
<article class="col-8 ms-auto me-auto my-4">
<div class="row py-3 d-flex flex-wrap justify-content-around">
    {{ liste(matchs_1120) }}
</div>
</article>
{% endif %}
{% if list == "" %}
{{ separateur() }}
{% endif %}

{% if (list == "") or (list == "21a30") %}
<div class="col-12 bg-header py-4 mt-1 mb-2">
    <div class="col-8 ms-auto me-auto">
        <h2>Matchs 21 à 30</h2>
    </div>
</div>
<article class="col-8 ms-auto me-auto my-4">
<div class="row py-3 d-flex flex-wrap justify-content-around">
    {{ liste(matchs_2130) }}
</div>
</article>
{% endif %}
{% if list == "" %}
{{ separateur() }}
{% endif %}

{% if (list == "") or (list == "31a40") %}
<div class="col-12 bg-header py-4 mt-1 mb-2">
    <div class="col-8 ms-auto me-auto">
        <h2>Matchs 31 à 40</h2>
    </div>
</div>
<article class="col-8 ms-auto me-auto my-4">
<div class="row py-3 d-flex flex-wrap justify-content-around">
    {{ liste(matchs_3140) }}
</div>
</article>
{% endif %}
{% endblock %}
