include LICENSE README.md CHANGELOG.rst

graft barrins_codex
prune utils

exclude Makefile
exclude babel.cfg
exclude .markdownlint.json
exclude messages.pot
exclude HOWTO_RELEASE.md

global-exclude */__pycache__/*
global-exclude *.egg-info/*
global-exclude *.po
global-exclude *.DS_Store
global-exclude *.json.gz
