{% extends "articles/_layout_articles.html" %}

{% block titre %}
Construire un deck en Duel Commander
{% endblock %}

{% block article %}
<article class="col-8 ms-auto me-auto my-4">
    <p class="text-center fst-italic">
        Cet article se base en partie sur le contenu produit par Crimelune et
        partagé de manière publique sur
        {{ external("https://discord.com/channels/625811727610675215/839167202162769920/839600482371764324", "<i class='fa-brands fa-discord'></i> Discord") }}.
    </p>
    <p>
        {% block ogdesc %}
        Cet article a été rédigé à destination de toute personne souhaitant
        construire un deck en Duel Commander. Il s'agit d'un exercice complexe
        car tout le monde n'a pas les mêmes connaissances pratique ou
        théoriques. Les termes utilisés par des personnes expérimentées ou
        appartenant à un cercle de personne spécifique ont été paraphrasés pour
        rendre le contenu lisible par la plus grande majorité.
        {% endblock %}
    </p>
    <div class="warning">
        <p class="h3">
            Un sujet en constante évolution
        </p>
        <p>
            Les informations rédigées ici peuvent devenir incomplètes ou
            partiellement fausses. Dans ce cas, n'hésitez pas à nous l'indiquer
            en utilisant le formulaire présent en bas de chacune des pages de
            ce codex.
        </p>
    </div>
    <div class="clear"></div>
</article>

{{ tableofcontents() }}

{{ separateur() }}
<div class="col-12 bg-header py-4 mt-1 mb-1" id="macrotypes">
    <div class="col-8 ms-auto me-auto">
        <h2 id="h2basics">Les Bases de la construction de deck</h2>
    </div>
</div>
<article class="col-8 ms-auto me-auto mb-2">
    <p>
        Un deck de Duel Commander contient 100 cartes dont la zone de
        commandement, une ou deux cartes. Il est possible de choisir un
        compagnon en respectant les règles de construction de celui-ci. Il
        existe des particularités dans ce format qui ne se retrouvent pas
        dans les formats dits « habituels » :
    </p>
    <ul>
        <li>
            Toute carte , hormis les terrains de base, est limitée à un seul
            exemplaire dans le deck ; et
        </li>
        <li>
            Les couleurs des cartes utilisées dans le deck doivent correspondre
            à l'identité couleur de la zone de commandement ; et
        </li>
        <li>
            Il n'y a pas de réserve, il est donc impossible d'adapter son
            deck entre deux parties.
        </li>
    </ul>
    <div class="clear"></div>
</article>

{{ separateur() }}
<div class="col-12 bg-header py-4 mt-1 mb-1" id="macrotypes">
    <div class="col-8 ms-auto me-auto">
        <h2 id="h2macrotypes">
            Macrotypes et Archétypes, piliers de la construction de deck
        </h2>
    </div>
</div>
<article class="col-8 ms-auto me-auto mb-2">
    <h3 id="h3macrotypes">Présentation des macrotypes et des archétypes</h3>
    <p>
        Le comportement général des decks a été étudié de manière théorique et
        de grandes familles en sont sorties. Il existe plein de stratégies qui
        cherchent à jouer Contrôle mais toutes ne mettent pas en œuvre les
        mêmes tactiques. C'est la différence entre le macrotype (la stratégie)
        et l'archétype (la tactique).
    </p>
    <p>
        Les trois éléments fondateurs d'un macrotype sont <em>Agro</em>,
        <em>Contrôle</em> et <em>Combo</em> et les archétypes utilisent des
        briques de deux macrotypes le plus souvent. En effet, un deck capable
        de jouer sur plusieurs tableaux permettra d'être plus résiliant et
        s'adapter plus facilement à l'adversaire. Cette souplesse se définit
        principalement par le choix de la zone de commandement car elle
        rejouable à l'envie moyennant une taxe incrémentale de 2 manas à chaque
        lancement.
    </p>
    <p>
        Ainsi, les trois macrotypes ont des comportements communément admis et
        sont présentés ici :
    </p>
    <ul>
        <li>
            <strong>Agro</strong> : Deck dont le principal objectif est
            d'amener l'adversaire à zéro point de vie le plus rapidement
            possible en jouant des créatures ou des sorts de dégâts directs ;
        </li>
        <li>
            <strong>Contrôle</strong> : Decks dont l'objectif est de ralentir
            le déroulement de la partie afin d'installer une guerre d'attrition
            basée essentiellement sur du Card Advantage ;
        </li>
        <li>
            <strong>Combo</strong> : Deck basé sur une forte interaction entre
            au moins deux cartes (une combinaison) qui permet de gagner la
            partie instantanément ou qui mène à un très fort avantage quasi-
            synonyme de victoire ;
        </li>
    </ul>
    <p>
        {{ link("/articles/classifier-un-deck", "L'article") }} présenté sur ce
        Codex contient un découpage plus fin des macrotypes dans le but de
        présenter les paires les plus habituelles.
    </p>

    <h3 id="h3commandzone">L'impact dans la zone de commandement</h3>
    <p>
        Chaque macrotype peut être représenté par des commandants emblématiques
        :
    </p>
    <ul>
        <li>
            <strong>Agro</strong> joue souvent une menace en zone de
            commandement : {{ isamaruhoundofkonda }} ou
            {{ karizevskyshipraider }} par exemple.<br> Des variantes peuvent
            être représentées par {{ balmorbattlemagecaptain }} pour un deck
            « tempo » dont la vitesse d'agression peut être ralentie pour
            interagir sur le développement de l'adversaire ou
            {{ karlovoftheghostcouncil }} pour un deck dit « voltron » qui
            préfèrent un commandant nécessitant une synergie entre lui et le
            reste du deck ;
        </li>
        <li>
            <strong>Contrôle</strong> va chercher à jouer une créature qui va
            clôre la partie en zone de commandement. En effet, contrairement
            aux formats construits, la redondance offerte par la zone de
            commandement permet de réduire la quantité de cartes servant à tuer
            son adversaire dans le deck. On retrouve ainsi
            {{ tivitsellerofsecrets }} ou {{ narsetenlightenedmaster }} dans
            une optique plus orientée combo ;
        </li>
        <li>
            <strong>Combo</strong> était jusqu'à
            {{ link("/decks/bjornawernog") }} très dépendant de la zone de
            commandement pour développer sa stratégie et assembler les
            pièces de combo. On retrouve ainsi parmis les commandants les plus
            connus {{ thegitrogmonster }}, {{ kinnanbonderprodigy }} ou encore
            {{ prosshskyraiderofkher }}.
        </li>
    </ul>

    <h3 id="h3generalcentric">
        Stratégie dépendante de la zone de commandement
    </h3>
    <p>
        Il existe deux possibilités lors de la construction d'un deck : soit le
        commandant permet directement d'exploiter le plan de jeu, soit ce n'est
        pas le cas.
    </p>
    <p>
        Dans le cas où le général correspond au plan de jeu, il est possible
        d'intégrer des cartes qui correspondent à un autre macrotype. Par
        exemple, un deck agressif mono-rouge jouant {{ karizevskyshipraider }}
        en zone de commandement peut jouer quelques cartes plus lourdes et hors
        de la stratégie principale parce que Kari Zev correspond à ce qui est
        attendu d'un deck agressif : un général peu cher et agressif. Ce n'est
        donc pas étonnant de voir jouées des cartes comme
        {{ cavesofchaosadventurer }} ou {{ emberwildecaptain }} qui vont
        permettre d'obtenir davantage de cartes dans un plan de jeu qui souffre
        généralement de cette problématique.
    </p>
    <p>
        Dans le cas contraire, il est nécessaire d'adapter sa sélection de
        cartes aux forces et faiblesses liées à la sélection de la zone de
        commandement. Cette situation se retrouve souvent dans les jeux à
        dominante contrôle où le commandant représente la manière principale de
        finir la partie. Il convient alors d'augmenter la quantité de cartes
        qui interagissent avec l'adversaire.
    </p>
    <p>
        Pour compléter la réflexion, certains commandants permettent plusieurs
        stratégies en parallèle. C'est le cas de {{ marathwillofthewild }} qui
        va pouvoir se jouer à la fois avec une stratégie agro-controle ou
        agro-combo. Il est même possible d'allier les trois stratégies en
        jouant sur le dosage des cartes dévolues à un pan de la stratégie.
    </p>
</article>
{% endblock %}
