{% extends "layout.html" %}
{% import "cartes-thematiques/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ _("Construire un deck en Duel Commander") }}</h1>

<p>
	{% trans trimmed
		les_macrotypes=link("/articles/classifier-un-deck", _("les macrotypes"), _anchor="macrotypes"),
		les_archetypes=link("/articles/classifier-un-deck", _("les archétypes"), _anchor="archetypes")
	%}
	Pour une construction de deck efficace, il est important de connaître et de comprendre ce que
	sont {{ les_macrotypes }} et les {{ les_archetypes }} car ces concepts permettent
	d'analyser l’impact des plans de jeu les uns par rapport aux autres et d’anticiper dans une
	certaine mesure les forces et les faiblesses du deck.
	{% endtrans %}
</p>

<h2>{{ _("Choisir son plan de jeu") }}</h2>
<p>
	{% trans trimmed %}
	Choisir un plan de jeu revient à définir l’optique du deck et son angle d’attaque. Avant de
	commencer à sélectionner des cartes, il faut se poser quelques questions pour définir un cap.
	Cette phase de questionnement permet de dessiner les grandes lignes qui définissent le
	deck et de déterminer en quoi il est spécial :
	{% endtrans %}
</p>
<ul>
	<li>
		{% trans trimmed %}
		Qu’est-ce que le deck est supposé faire mieux que les autres decks déjà disponibles ?
		{% endtrans %}
	</li>
	<li>
		{{ _("Quelle est la stratégie principale du deck pour gagner la partie ?") }}
	</li>
	<li>
		{{ _("Qu’apporte cette version aux autres decks qui partagent le même plan de jeu ?") }}
	</li>
</ul>
<div class="author">
	<p>
		{% trans trimmed %}
		Alix cherche à construire un deck original basé sur les artefacts. Après s'être posé les
		trois questions au-dessus, Alix a défini les grandes lignes du deck souhaité :
		{% endtrans %}
	</p>
	<p>
		{% trans trimmed %}
		Il s'agira d'un deck ayant une forte densité d'artefacts et utilisera {{ paradox_engine }}
		pour générer du mana. Le deck permettra de gagner la partie grâce à la forte quantité de
		sorts lancés dans le même tour (le Big Turn) avec {{ aetherflux_reservoir }}. De plus, Alix
		ne connaît aucun deck qui a ce plan de jeu et pense donc que cela pourrait être intéressant
		à construire.
		{% endtrans %}
	</p>
</div>

<h2>{{ _("Choisir sa zone de commandement") }}</h2>
<p>
	{% trans trimmed %}
	La composition de la zone de commandement doit avoir un impact sur la construction du deck. En
	effet, il faut que la zone de commandement fournisse les couleurs nécessaires à l’expression la
	plus entière du plan de jeu. Il faut également qu’elle fournisse un avantage stratégique si
	possible : cela ne semble pas cohérent de jouer {{ aminatou_the_fateshifter }} si aucun
	permanent non-terrain n’est envisagé.
	{% endtrans %}
</p>
<p>
	{{ _("Les questions sont donc à se poser au regard les unes des autres :") }}
</p>
<ul>
	<li>{{ _("Quelles couleurs me permettent le mieux de faire ce que je souhaite ?") }}</li>
	<li>{{ _("Quelle zone de commandement permet de faire mieux ce que je souhaite ?") }}</li>
</ul>
<p>
	{% trans trimmed %}
	Dans le cas d’Alix, elle trouve essentiel de pouvoir jouer {{ urza_lord_high_artificer }},
	des <em>tuteurs</em> comme {{ demonic_tutor }} ou {{ enlightened_tutor }} et des moteurs de
	pioche comme {{ jhoira_weatherlight_captain }} ou {{ whirlwind_of_thought }}. Il faut donc au
	moins jouer trois à quatre couleurs. Parmi les zones de commandement possibles,
	il y en a quelques unes notables :
	{% endtrans %}
<p>

<div>
	{% call layout.card_column("Silas Renn, Seeker Adept") %}
		{% trans trimmed %}
		Joué avec un partenaire donnant accès au moins au rouge, Silas Renn permettrait de garantir
		la rejouabilité des artefacts. Le principal point faible de cette zone de commandement est
		l’accès difficile à une quatrième voire à une cinquième couleur. Si Alix choisit une paire
		de partenaires, la taille du deck sera légèrement plus faible et le deck pourrait gagner en
		stabilité.
		{% endtrans %}
	{% endcall %}

	{% call layout.card_column("Golos, Tireless Pilgrim") %}
		{% trans trimmed %}
		Golos permet de d'avoir accès aux cinq couleurs et est incolore, ce qui garantit un
		maximum de souplesse. Si Alix choisit Golos, il sera possible d’ajouter
		{{ cascading_cataracts }}, par exemple, pour permettre d’utiliser sa capacité activée plus
		facilement.
		{% endtrans %}
	{% endcall %}

	{% call layout.card_column("Kenrith, the Returned King") %}
		{% trans trimmed %}
		Dans une optique <em>Storm</em>, Kenrith permet d’utiliser le mana généré pour gagner un
		avantage direct. Si Alix choisit Kenrith, il faudra sûrement jouer {{ training_grounds }}
		pour réduire le coût de la capacité activée qui permet de piocher une carte.
		{% endtrans %}
	{% endcall %}
</div>

<div class="tip">
	<h3>{{ _("Choisir son plan de jeu ou choisir sa zone de commandement d’abord ?") }}</h3>
	<p>
		{% trans trimmed %}
		Choisir son plan de jeu et trouver une zone de commandement qui y correspond ensuite est un
		processus qui permet la plus grande souplesse et donc la plus grande efficacité une fois le
		choix arrêté.
		{% endtrans %}
	</p>
	<p>
		{% trans trimmed %}
		Choisir en premier sa zone de commandement puis le plan de jeu reviendra souvent à faire
		des choix sous-optimaux pour que les deux correspondent. L’inadéquation entre la zone de
		commandement et le plan de jeu créera des frictions qui se feront sentir dans des parties
		qui poussent le deck dans ses retranchements.
		{% endtrans %}
	</p>
	<p>
		{% trans trimmed %}
		Ceci est le cas général, certaines stratégies ne sont viables qu'avec une zone de
		commandement particulière qui crée à elle seule un plan de jeu unique. C'est le cas de
		{{ winota_joiner_of_forces }} ou de {{ hogaak_arise_necropolis }} par exemple.
		{% endtrans %}
	</p>
</div>

<h2>{{ _("Définir les cartes clé") }}</h2>
<p>
	{% trans trimmed
		ramp=link("/cartes-thematiques/mecaniques-de-la-colorpie/le-ramp", "ramp")
	%}
	Les cartes clé sont les cartes autour desquelles le plan de jeu va s'articuler. Cela peut être
	des créatures pour les decks agressifs, des terrains et de {{ ramp }} pour des decks
	<em>Lands</em>, etc.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	L'objectif est de dessiner un socle d'une vingtaine de cartes qui fonctionnent entre elles et
	qui posent les fondations du plan de jeu.
	{% endtrans %}
</p>
<div class="author">
	<p>
		{% trans trimmed %}
		Alix a décidé d'articuler son deck autour des cartes suivantes :
		{% endtrans %}
	</p>
	<div class="column">
		<h4 style="text-align: center;">{{ _("Créatures") }}</h4>
		<ul style="list-style: none;">
			<li>{{ jhoira_weatherlight_captain }}</li>
			<li>{{ urza_lord_high_artificer }}</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="column">
		<h4 style="text-align: center;">{{ _("Artefacts") }}</h4>
		<ul style="list-style: none;">
			<li>{{ aetherflux_reservoir }}</li>
			<li>{{ mystic_forge }}</li>
			<li>{{ paradox_engine }}</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="column">
		<h4 style="text-align: center;">{{ _("Planeswalkers") }}</h4>
		<ul style="list-style: none;">
			<li>{{ tezzeret_the_seeker }}</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="column">
		<h4 style="text-align: center;">{{ _("Enchantements") }}</h4>
		<ul style="list-style: none;">
			<li>{{ song_of_creation }}</li>
			<li>{{ whirlwind_of_thought }}</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="column">
		<h4 style="text-align: center;">{{ _("Ephémères") }}</h4>
		<ul style="list-style: none;">
			<li>{{ enlightened_tutor }}</li>
			<li>{{ intuition }}</li>
			<li>{{ paradoxical_outcome }}</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="column">
		<h4 style="text-align: center;">{{ _("Rituels") }}</h4>
		<ul style="list-style: none;">
			<li>{{ demonic_tutor }}</li>
			<li>{{ sevinnes_reclamation }}</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>

<h2>{{ _("Délimiter les contraintes de construction") }}</h2>
<p>
	{% trans trimmed %}
	Certaines cartes demandent une construction adaptée pour être plus efficaces. Il faut alors se
	demander si l'impact de ces cartes dans le plan de jeu est suffisant pour les jouer.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Par exemple, il est possible de jouer {{ blood_moon }} et {{ tainted_pact }} dans le même deck.
	Il faut cependant pouvoir construire en tenant compte des différentes contraintes.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Voici une liste de quelques carte demandant une adaptation du choix des cartes :
	{% endtrans %}
</p>
<ul>
	<li>
		{% trans trimmed %}
		{{ blood_moon }} impose de jouer autant de sources non-rouges que possible sous forme
		de terrains basiques. Inversement, il faut un minimum de sources rouges sous forme de
		terrains basiques ;
		{% endtrans %}
	</li>
	<li>
		{% trans trimmed %}
		{{ tainted_pact }} demande de ne jouer que des cartes différentes. Cela signifie qu'il
		faut jouer au plus un terrain basique de chacune des couleurs du deck et leur version
		neigeuse ;
		{% endtrans %}
	</li>
	<li>
		{% trans trimmed %}
		La zone de commandement impose un nombre minimum de terrains pour jouer le ou les
		commandants. Par exemple, il faut 44 terrains pour jouer de manière régulière
		{{ archelos_lagoon_mystic }} sans pioche supplémentaire et sans accélération de mana.
		{% endtrans %}
	</li>
</ul>

<h2>{{ _("Les trois étape de la construction de deck") }}</h2>
<p>
	{% trans trimmed %}
	Construire un deck optimal nécessite de passer par trois étapes d'affinage.
	{% endtrans %}
</p>
<h3>{{ _("Définir une stratégie") }}</h3>
<p>
	{% trans trimmed %}
	Il convient à ce moment-là de compléter le deck avec le maximum de cartes synergiques avec le
	plan de jeu. Une fois le deck complété, une phase de test est nécessaire pour déterminer si le
	deck se joue comme cela a été anticipé.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Si ce n'est pas le cas, deux options sont disponibles : arrêter de construire le deck ou
	redéfinir le squelette et rebroder autour. Si cela fonctionne, il faut passer à l'étape
	suivante.
	{% endtrans %}
</p>
<h3>{{ _("Définir une tactique") }}</h3>
<p>
	{% trans trimmed %}
	La première phase de test a permis de déterminer que le deck valait le coup d'être travaillé
	davantage et c'est cette phase qui correspond à l'étape la plus longue : quels sont les
	problèmes que rencontre le deck actuellement ? Quelles sont les cartes qui n'ont pas fonctionné
	du tout lorsqu'elles ont été jouées ?
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	L'identification des cartes dites « inutiles » permet de libérer de la place dans le deck pour y
	ajouter des solutions aux problèmes rencontrés lors de la première phase de tests.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Il faut ensuite faire des tests intensifs et extensifs comme détaillés dans la section suivante.
	{% endtrans %}
</p>
<h3>{{ _("Valider les tactiques par rapport à la stratégie") }}</h3>
<p>
	{% trans trimmed %}
	Il faut garder en tête qu'une action ne doit pas forcément aller dans le sens de la stratégie
	mais ne doit jamais aller à l’opposé. Cette étape permet de confronter les cartes choisies dans
	l'étape précédente à leur utilité dans le deck.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	C'est également dans cette étape que sont ajoutées des cartes <em>hors plan de jeu</em> mais qui
	permettent au deck de conserver une présence et un niveau de menace élevé contre les autres
	decks. Il s'agit de cartes plutôt défensives qui sont rentrées à ce stade de la construction.
	{% endtrans %}
</p>


<h2>{{ _("Éviter les biais psychologiques") }}</h2>
<p>
	{% trans trimmed
		bias="<em>8 Biases That Are Making You Worse at Magic</em>"
	%}
	Paulo Vitor Damo Da Rosa évoque dans l'article {{ bias }} publié sur Channel Fireball
	des comportements psychologiques involontaires qui altèrent la perception de données à Magic.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Pour éviter ces biais, voici quelques questions à se poser lors des phases de test. Garder
	une trace écrite de ses réflexions évite aussi un des biais listé dans l'article.
	{% endtrans %}
</p>
<h3>{{ _("Tester une carte")}}</h3>
<p>
	{% trans trimmed
		loi_hypergeometrique=_("la loi hypergéométrique (<em>à venir</em>)")
	%}
	Pour tester une carte, il ne faut pas attendre de la piocher et de la jouer. En effet, les
	probabilités de piocher cette carte dans un deck de 98 à 99 cartes est faible et suit
	{{ loi_hypergeometrique }}.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Il vaut mieux considérer la carte comme étant <em>en zone de commandement</em> et
	de se poser régulièrement les questions suivantes :
	{% endtrans %}
</p>
<ul>
	<li>
		{% trans trimmed %}
		Si la carte est piochée ce tour-ci, sera-t-elle jouable ? résoudra-t-elle la situation ?
		{% endtrans %}
	</li>
	<li>
		{% trans trimmed %}
		Si la carte piochée est un tuteur, est-ce que la carte testée serait le meilleur choix ?
		{% endtrans %}
	</li>
	<li>
		{% trans trimmed %}
		Est-ce que la carte, si elle est piochée au prochain tour, apporte une solution à la
		situation présente ?
		{% endtrans %}
	</li>
</ul>
<h3>{{ _("Tester et analyser les parties") }}</h3>
<p>
	{% trans trimmed %}
	Tester le deck revient à jouer des parties. Il faut donc analyser ces parties pour comprendre
	ce qui a fonctionné et ce qui n'a pas fonctionné. Cela se traduit en deux étapes :
	{% endtrans %}
</p>
<ol>
	<li>
		{{ _("Garder une trace écrite de chaque partie avec les informations suivantes :") }}
		<ul>
			<li>{{ _("Qui a commencé ?") }}</li>
			<li>{{ _("Qui a mulligané et combien de fois ?") }}</li>
			<li>{{ _("Qui a gagné ?") }}</li>
			<li>{{ _("Quel est le taux de victoire du deck ?") }}</li>
		</ul>
	</li>
	<li>
		{{ _("Etudier le rythme de la partie et les choix effectués :") }}
		<ul>
			<li>
				{{ _("Quels choix ont fait gagner un avantage dans la partie et pourquoi ?") }}
			</li>
			<li>
				{{ _("Quelles cartes ont permis de gagner un avantage et pourquoi ?") }}
			</li>
			<li>
				{{ _("Quelles cartes ont été décevantes dans la partie et pourquoi ?") }}
			</li>
			<li>
				{{ _("Quelles cartes aurait-il fallu piocher et pourquoi ?") }}
			</li>
			<li>
				{{ _("Quelles cartes n'aurait-il pas fallu piocher et pourquoi ?") }}
			</li>
		</ul>
	</li>
</ol>
<h3>{{ _("Discuter de ses retours") }}</h3>
<p>
	{% trans trimmed %}
	Armé de tous ces retours sur chaque partie, il faut comparer son analyse avec son adversaire
	dans un premier temps puis avec un groupe extérieur à la partie qui permettra de juger si les
	ressentis à chaud étaient corrects.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	L'avantage est de consolider les retours faits sur les parties et aussi de confronter sa propre
	méthode d'analyse à celle d'autres personnes pour affûter son regard et supprimer au fur et à
	mesure les différents biais qui sont ainsi révélés.
	{% endtrans %}
</p>

<div class="tip">
	<h3>{{ _("Définir des critères universels d'acceptation") }}</h3>
	<p>
		{% trans trimmed %}
		Lors de la construction du deck, il faut se fixer des limites qu'il ne faut pas dépasser en
		terme de coût de mana pour un effet donné.
		{% endtrans %}
	</p>
	<p>
		{% trans trimmed
			spot_removal=link("/cartes-thematiques/les-spot-removals", "spot removal")
		%}
		Par exemple, il est admis qu'un {{ spot_removal }} coûte 2 manas. En cas de surcoût, les
		avantages fournis doivent être justifiés et conséquents, au risque d'avoir un deck peu
		efficace.
		{% endtrans %}
	</p>
	<p>
		{% trans trimmed %}
		De même, dans des decks agressifs, il est admis qu'une créature doit pouvoir infliger
		autant de dégâts que son coût en mana, parfois plus mais rarement moins.
		{% endtrans %}
	</p>
</div>
{% endblock %}
