{% extends "layout.html" %}

{% block content %}
<p>
	{% trans %}
	Cette section explore la stratégie de <strong>Magic: the Gathering</strong>. La section
	<strong>Aspects théoriques</strong> explore les concepts fondateurs du jeu tandis que la
	section <strong>Aspects pratiques</strong>.
	{% endtrans %}
</p>

<div class="align-left">
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link("/articles/lart-de-classifier-les-decks") }}</td>
				<td>(<em>Metagame</em>)</td>
			</tr>
			<tr>
				<td>{{ link("/articles/lart-de-bien-melanger-un-deck") }}</td>
				<td>(<em>{{ _("Mélange")}}</em>)</td>
			</tr>
			<tr>
				<td>{{ _("Autres articles à venir ...") }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link("/articles/la-loi-hypergeometrique") }}</td>
				<td>(<em>{{ _("Introduction") }}</em>)</td>
			</tr>
			<tr>
				<td>{{ link("/articles/win-o-maths") }}</td>
				<td>(<em>{{ _("Mathematiques") }}</em>)</td>
			</tr>
			<tr>
				<td>{{ link("/articles/complexite-et-machine-de-turing") }}</td>
				<td>(<em>{{ _("Mathematiques") }}</em>)</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
