{% extends "layout.html" %}
{% import "articles/_contributors.html" as contributor with context %}

{% block content %}
<h1>{{ _("L'Art de classifier les decks") }}</h1>
{{ contributor.zombie33() }}

{% trans trimmed
	partie_1=link("/articles/lart-de-classifier-les-decks", _("Les classifications en macrotype"), _anchor="classification-en-macrotypes"),
	partie_2=link("/articles/lart-de-classifier-les-decks", _("Les catégories de decks"), _anchor="categories-de-decks"),
	partie_3=link("/articles/lart-de-classifier-les-decks/la-classification-en-tiers"),
	partie_4=link("/articles/lart-de-classifier-les-decks/pour-aller-plus-loin")
%}
<h2 id="introduction">Introduction</h2>
<p>
	Au sens premier, le metagame est l'étude des différentes stratégies qu'un jeu permet. Avoir une
	vue globale des stratégies possibles et de leurs efficacités les unes par rapport aux autres
	est un point crucial pour progresser et améliorer son style de jeu. Vouloir regrouper les
	différents decks selon leurs points communs ou leurs startégies permet de mieux les étudier.
	Par conséquent, comment classer les deck ?
</p>
<p>
	Deux méthodes s'opposent :
</p>
<ul>
	<li>
		L'approche par <strong>archétype</strong> qui rassemble des decks similaires en terme de
		cartes jouées ;
	</li>
	<li>
		L'approche en <strong>macrotype</strong> qui rassemble des decks dont le plan de jeu est
		similaire. Cette approche rapproche un maximum de decks dans un minimum de macrotypes.
	</li>
</ul>
<p>
	Cet article est de taille conséquente ; pour en faciliter la lecture, son contenu a été découpé
	en plusieurs sections :
</p>
<ul class="circle">
	<li>
		{{ partie_1 }}
		présente les classifications en macrotypes les plus répandues, leurs avantages et leurs limites.
	</li>
	<li>
		{{ partie_2 }}
		présente les raffinements intermédiaires entre les classifications en macrotypes et
		archétypes.
	</li>
	<li>
		{{ partie_3 }}
		étudie la classification en tier et de l'évolution d'un metagame avec le temps.
	</li>
	<li>
		{{ partie_4 }}
		conclue cet article et propose des pistes de réflexion.
	</li>
</ul>
{% endtrans %}

{% trans trimmed
	img_macrotype_a='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/macrotype_a.svg'))|safe,
	img_macrotype_b='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/macrotype_b.svg'))|safe,
	img_macrotype_c='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/macrotype_c.svg'))|safe,
	img_macrotype_d='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/macrotype_d.svg'))|safe,

	aggro_controle_and_combo=external("https://magic.wizards.com/en/articles/archive/magic-academy/aggro-combo-and-control-2007-01-27", "Aggro, Contrôle and Combo"),
	ah_yes_very_standard=external("https://magic.wizards.com/en/articles/archive/latest-developments/ah-yes-very-standard-2012-08-10", "Ah Yes. Very Standard."),
	the_guide_to_macro_archetypes=external("https://articles.starcitygames.com/premium/the-guide-to-macro-archetypes/", "The Guide to Macro-Archetypes"),
	watching_the_clock=external("https://articles.starcitygames.com/premium/watching-the-clock/", "Watching the Clock")
%}
<h2 id="classification-en-macrotypes">Les classifications en macrotypes</h2>
<p>
	Il existe six modèles de classification en macrotypes. Certains de ces modèles utilisent les
	mêmes noms pour désigner des ensembles légèrement différents.
</p>
<div>
	<table>
		<thead>
			<tr>
				<th>A</th>
				<th>B</th>
				<th>C</th>
				<th>D</th>
				<th>E</th>
				<th>F</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Aggro</td>
				<td>Aggro</td>
				<td>Aggro</td>
				<td>Aggro</td>
				<td>Aggro</td>
				<td>Aggro</td>
			</tr>
			<tr>
				<td>Contrôle</td>
				<td>Midrange</td>
				<td>Midrange</td>
				<td>Midrange</td>
				<td>Aggro-Contrôle</td>
				<td>Midrange</td>
			</tr>
			<tr>
				<td>Combo</td>
				<td>Contrôle</td>
				<td>Tempo</td>
				<td>Tempo</td>
				<td>Contrôle</td>
				<td>Tempo</td>
			</tr>
			<tr>
				<td></td>
				<td>Combo</td>
				<td>Contrôle</td>
				<td>Contrôle</td>
				<td>Contrôle-Combo</td>
				<td>Contrôle</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Combo</td>
				<td>Ramp</td>
				<td>Combo</td>
				<td>Contrôle-Combo</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>Combo</td>
				<td>Aggro-Combo</td>
				<td>Combo</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Aggro-Combo</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>Aggro-Contrôle-Combo</td>
			</tr>
		</tbody>
	</table>
</div>
<p>
	Les classifications de <strong>A</strong> à <strong>D</strong> sont des itérations successives
	dont le but est de mettre en évidence comment les différents macrotypes interagissent les uns
	avec les autres. Les diagrammes présentent une généralisation des interactions entre les
	macrotypes et il est possibles que certains decks aient des résultats en dehors de cette
	symbolisation. Ils présentent cependant d'après Zac Hill des métagames simplifiés
	<em>idéaux</em>.
</p>
<p>
	Les classifications <strong>E</strong> et <strong>F</strong> tentent, quant à elles, d'établir
	une classification totale des archétypes.
</p>

<h3 id="3_macrotypes">Système A — La classification en 3 macrotypes</h3>
<p>
	Il s'agit de la première classification établie et elle reste à ce jour la plus connue et la
	plus répandue. On la retrouve sur divers outils traitant de stratégie dans les JCC et les JCE.
</p>
<div>
	{{ img_macrotype_a }}
</div>
<ul>
	<li>
		<strong>Aggro</strong> :
		Deck agressif dont le principal objectif est d'amener l'adversaire à 0 points de vie le
		plus rapidement possible en jouant des créatures ou des sorts de dégâts directs.
	</li>
	<li>
		<strong>Contrôle</strong> :
		Deck dont l'objectif est de ralentir le déroulement de la partie afin d'installer une
		guerre d'attrition basée essentiellement sur du Card-Advantage.
	</li>
	<li>
		<strong>Combo</strong> :
		Deck basé sur une forte interaction entre deux cartes ou plus (combinaison) qui permet de
		gagner la partie instantanément ou qui mène à un très fort avantage quasi-synonyme de
		victoire.
	</li>
</ul>
<p>
	Ces trois macrotypes s'équilibrent suivant le principe de pierre-feuille-ciseaux présenté
	ci-dessus. On observe cet équilibre dans les formats standard où Aggro a tendance à occuper une
	part importante du metagame de part l'absence de decks combo efficaces.
</p>

<h3 id="4_macrotypes">Système B — La classification en 4 macrotypes</h3>
<p>
	Cette classification détaille davantage le macrotype Contrôle. En effet, ce macrotype ne
	reflète pas la diversité des stratégies qui le composent actuellement.
</p>
<div>
	{{ img_macrotype_b }}
</div>
<ul>
	<li>
		<strong>Midrange</strong> :
		Deck dont la stratégie est de gérer les menaces adverses tout en imposant ses propres
		menaces soit en jouant des créatures plus grosses que ses adversaires, soit en mettant
		rapidement en place une clock et en la protégeant.
	</li>
</ul>
<p>
	Cette classification est plébiscitée par Patrick Chapin dans son livre
	<em>Next Level Building</em>. Selon cette classification, chaque macrotype contiendrait
	idéalement un quart du métagame.
</p>
<p>
	<em>Note</em> :
	Ce diagramme laisse assez justement de côté l'inégalité : Combo > Aggro qui en soi n'est pas
	directement relié aux macrotypes mais plutôt au tour fondamental des decks considérés car
	souvent ces macrotypes interagissent que faiblement ensemble.
</p>

<h3 id="5_macrotypes">Système C — La classification en 5 macrotypes</h3>
<p>
	Cette classification distingue Tempo et Midrange, deux stratégies différentes qui se retrouvent
	dans la section <em>Midrange</em> de la section précédente. Elle est plébiscitée par Mike Mason
	dans son article : {{ watching_the_clock }}.
</p>
<div>
	{{ img_macrotype_c }}
</div>
<ul>
	<li>
		<strong>Midrange</strong> :
		Deck ayant un plan de jeu proche d'un Contrôle ou d'un Ramp en début de partie mais qui va
		ensuite poser des créatures dont les force et endurance sont supérieures aux créatures
		jouées par Aggro.
	</li>
	<li>
		<strong>Tempo</strong> :
		Deck dont la stratégie consiste à poser rapidement une ou plusieurs menaces puis à les
		protéger suffisamment longtemps, le plus souvent à l'aide de contresorts, pour gagner.
	</li>
</ul>
<p>
	<em>Note</em> :
	Un deck Midrange sera réactif et jouera le rôle d'un deck Contrôle contre Aggro et sera au
	contraire proactif jouant le rôle d'un aggro contre Contrôle.
</p>

<h3 id="6_macrotypes">Système D — La classification en 6 macrotypes</h3>
<p>
	Les decks Ramp jusque-là intégrés au macrotype Contrôle sont mis en évidence car la stratégie
	développée au sein de ce macrotype ne correspond pas réellement aux systèmes développés
	ci-dessus.
</p>
<div>
	{{ img_macrotype_d }}
</div>
<ul>
	<li>
		<strong>Ramp</strong> :
		Deck dont la stratégie principale consiste à produire pérennement et rapidement plus de
		manas que son adversaire afin de jouer des sorts coûteux rapidement.
	</li>
</ul>
<p>
	Les macrotypes Ramp et Combo ont les mêmes comportement face aux autres macrotypes. Cette
	observation a été faite par Zac Hill, un membre du pôle Recherche & Développement de Wizards of
	the Coast et qui a publié l'article {{ ah_yes_very_standard }}.
</p>
<p>
	<em>Note</em> :
	Dans le cadre des classifications <strong>A</strong>, <strong>B</strong> et <strong>C</strong>,
	les sorts de ramp jouent intrinsèquement le rôle des cartes de combo de part leur faible impact
	immédiat sur la partie à leur résolution. Ces classifications ne reflètent cependant pas ce
	détail.
</p>

<h3 id="classification_hybride">Système E — La classification à hybridation</h3>
<p>
	Cette classification très populaire est basée sur la classification <strong>A</strong> (Aggro -
	Contrôle - Combo) à laquelle sont ajoutés les 3 macrotypes hybrides : Aggro-Contrôle /
	Contrôle-Combo / Aggro-Combo.
</p>
<p>
	Les définitions des macrotypes Aggro, Contrôle et Combo diffèrent des définitions précédentes
	sans s'exclure les uns des autres. Il est possible qu'un deck vérifie plusieurs définitions, il
	sera alors classé dans le macrotype hybride correspondant.
</p>
<ul>
	<li>
		<strong>Aggro</strong> :
		Deck dont la stratégie consiste à jouer des créatures et à attaquer avec celles-ci pour
		gagner.
	</li>
	<li>
		<strong>Contrôle</strong> :
		Deck dont la stratégie vise à générer du Card-Advantage pour être en mesure de
		contrer les stratégies du deck adverse.
	</li>
	<li>
		<strong>Combo</strong> :
		Deck dont la stratégie est d'obtenir la victoire par la combinaison de deux cartes ou plus.
		Cet effet combiné mène généralement à une victoire instantanée ou à un avantage décisif.
	</li>
</ul>
<p>
	La méthode de construction de cette classification exclu peu de decks. Les macrotypes Tempo et
	Midrange se retrouvent de nouveau sous la même appellation Aggro-Contrôle. De même, Contrôle et
	Ramp se retrouvent dans le macrotype Contrôle. Ces agglomérations rendent l'équilibrage de ce
	système impossible. L'article de Jeff Cuningham apporte plus de contenu sur cette
	classification : {{ aggro_controle_and_combo }}.
</p>

<h3 id="classification_totale">Système F — La classification en 8 macrotypes</h3>
<p>
	Il s'agit d'une classification totale. La diversité des macrotypes permet de classer tous les
	decks. Le macrotype Aggro-Contrôle est séparé en Tempo et en Midrange et apparait pour la
	première fois le macrotype Aggro-Contrôle-Combo.
</p>
<ul>
	<li>
		<strong>Aggro-Contrôle-Combo</strong> :
		Deck dont la stratégie répond aux définitions du système <strong>E</strong> d'Aggro, de
		Contrôle et de Combo  :
		<ul>
			<li>
				Une condition de victoire qui consiste à gagner en attaquant avec ses créatures ;
			</li>
			<li>Une condition de victoire non-intéractive basée sur une combo ;</li>
			<li>Une volonté de gérer le board que ce soit de manière proactive ou réactive.</li>
		</ul>
	</li>
</ul>
<p>
	<strong>MUD</strong> et <strong>Grow-A-Tog</strong> sont des decks de Vintage appartenant à ce
	macrotype. C'en sont quasiment les seuls représentants.
</p>
<p>
	Cette classification totale apparaît dès 2014 avec l'article de Carsten Kotter :
	{{ the_guide_to_macro_archetypes }}.
</p>
{% endtrans %}

{#
	----------
	Les catégories de Decks
	----------
#}
<h2>{{ _("La classification en tier et l'évolution d'un metagame") }}</h2>
{% trans trimmed
%}
<h3>La classification en tier</h3>
<p>
	Une manière totalement différente de vouloir classer les decks est de les échelonner par
	puissance au sein du format. Voici le vocabulaire pour cela.
</p>
<p>
	« Tier » signifie échelon en anglais, et n'a donc aucun rapport avec la fraction 1/3. Cette
	confusion est d'autant plus grande au niveau des joueurs français car les decks sont habituellement classés en trois tiers.
</p>
<ul>
	<li>
		Le tier 1 représente les decks les plus joués et les plus performants en tournois, ils sont
		la référence du metagame et souvent les decks les plus joués. On appelle aussi ces decks
		les <em>Deck to Beat</em>, ce qui signifie les decks à battre. Ces decks forment communément
		le <em>Gauntlet</em> du format.
	</li>
	<li>
		Le tier 2 représente les « outsiders » , des decks plus ou moins connus, qui se révèlent
		dominants à une occasion particulière ou capables de gagner quelques places dans les top 8.
		On appelle aussi ces decks les <em>Deck to Watch</em>, ce qui signifie les decks à
		surveiller.
	</li>
	<li>
		Le tier 3 regroupe les autres decks, pouvant créer la surprise ponctuellement, mais
		qui ne réalisent pas régulièrement de performances.
	</li>
</ul>
<p>
	Il existe également des decks hors metagame que l'on appelle communément les decks <em>fun</em>
	ou <em>casual</em> et il arrive de rajouter un « tier 1.5 » lorsque le metagame est très riche
	et qu'on retrouve une différence de niveau au sein des decks tier 2.
</p>
<p>
	Donc ça c'est la théorie, dans la pratique, pour classer les différents archétypes, on regarde
	simplement leur représentativité dans les top des tournois. Ceux qui gagneront le plus de
	tournois seront appelés les tier 1 et ainsi de suite.
</p>
{% endtrans %}

{% trans trimmed
	img_matrice='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/matchup_modern_2018.png'))|safe,
	img_graph='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/graph_proba_modern_2018.png'))|safe,
	img_metagame='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/metagame_modern_2018.png'))|safe,
	img_proba_restreintes='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/graph_proba_restreintes_modern_2018.png'))|safe
%}
<h3>Une matrice des matchup pour simuler des tournois</h3>
<p>
	L'objectif de cette section est de mettre à disposition un outil qui permet de pousser le propos
	encore plus loin. Les macrotypes d'un format sont sensés s'équilibrer, il en est de même pour
	les catégories ou les archétypes. Il n'est plus question d'une simple flèche mais d'un graphe
	de probabilité complet où on indiquera sur chaque branche la probabilité qu'un deck a de gagner
	contre un autre.
</p>
<p>
	Construire un tel graphe demande soit une très bonne connaissance du format que l'on considère,
	soit, et c'est mieux, d'avoir une grosse base de données à disposition. Dans tout les cas, les
	probabilités seront forcément des estimations, ce sera d'ailleurs la principale source d'erreur.
	Construire ce graphe revient finalement à construire une matrice, c'est à dire un tableau, où
	est inscrite la probabilité qu'un archétype ou qu'une catégorie a de gagner contre une autre,
	avec une probabilité de 0,5 pour les miroirs.
</p>
<p>
	Ci dessous se trouve une matrice des match up d'archétypes Modern collectés sur les GP de Las
	Vegas, Sao Paulo et Barcelone en 2018 qui ont été postés sur twitter/reddit :
</p>
{{ img_matrice }}
<p>
	Cette martice sert ni plus ni moins à simuler des tournois et par suite à identifier les meilleurs decks du format, le tier 1. Pour ce faire, voici les données de base :
</p>
<ul>
	<li>
		Chaque deck est joué suivant des proportions égales ou personnalisées ;
	</li>
	<li>
		Chaque deck en affronte un au hasard à chaque ronde dans un tournoi à élimination directe ;
	</li>
	<li>
		La proportion de chaque archétype est modifié à chaque ronde en raison des éliminations ;
	</li>
	<li>
		Est donnée la probabilité qu'un deck a d'atteindre la ronde numéro <em>N</em>.
	</li>
</ul>
<p>
	Si on reprend notre matrice des match up du Modern ci-dessus, alors en considérant que chaque
	archétype est joué en proportion égal, seul 6 archétypes ont une probabilité supérieure à 1/18
	de gagner un tournoi de dix rondes. Dans l'ordre : UW Control (0,20), KCI (0,11), Counters Coco
	(0,10), Humans (0,08), Hollow One (0,06) et Grixis Shadows (0,06).
</p>
{{ img_graph }}
<p>
	Cette matrice nous donne en effet des résultats particulièrement bon concernant UW Control qui
	semble dominer le format actuel si on se fie aux chiffres donnés par la matrice. Mais poussons
	maintenant l'étude plus loin en partant de la proportion dans laquelle ces différents decks ont
	été joués lors des trois GP de Vegas, Sao Paulo et Barcelone.
</p>
{{ img_metagame }}
<p>
	Nous obtenons alors un tout nouveau graphique qui place UW Control toujours en tête avec une
	probabilité de victoire relativement proche (0,18) malgré une proportion de UW Control au
	départ plus faible.
</p>
{{ img_proba_restreintes }}
<p>
	Une autre possibilité qui fait le lien avec ce qui précède est de regrouper les decks en
	catégories pour observer leur match up.
</p>
{% endtrans %}

{% trans trimmed %}
<h3>L'évolution d'un metagame serait-elle prédictible ?</h3>
<p>
	En jouant sur la proportion de chaque archétype au départ, ne pourrait-on pas anticiper
	l'évolution d'un metagame dans le temps ? Hum... Eh bien oui ce serait la méthode à appliquer,
	mais cette entreprise sur le long terme voir même sur le moyen terme est hélas vouée à l'échec.
</p>
<p>
	Je m'explique.
</p>
<p>
	Tout d'abord nous devons considérer que la proportion de chaque deck lors des tournois ne
	dépend que de la faculté que ces decks ont de gagner des tournois et que le capital sympathie
	qu'ils peuvent avoir ne rentre pas en ligne de compte. Pour faire court : on est dans un
	contexte compétitif et pas dans du Kitchen Magic. On obtient à ce moment là un système
	dynamique discret où on assimile le metagame à un instant T à la proportion dans laquelle les
	archétypes seront joués à l'instant T+1. Jusque là tout va bien et en fait notre problème
	revient exactement au même qu'augmenter le nombre de ronde d'un tournoi. Ça semble presque trop
	facile non ?
</p>
<p>
	Il y a en effet plusieurs problèmes derrière cette méthode. Premièrement nous avons ici un
	système dynamique qui a de bonnes chances d'être chaotique, c'est à dire que des écarts sur les
	valeurs initiales ou sur la matrice de départ peuvent entrainer des résultats très différents à
	l'arrivée. Je vous rappelle au passage que les valeurs de la matrice de départ sont déjà des
	approximations ! Mais ça ce n'est rien à côté du second problème, à savoir le fait qu'en
	réalité notre matrice de match up elle aussi dépend de l'instant T ! En effet, lorsque le
	metagame évolue les decklist et en particulier les side s'adaptent pouvant changer grandement
	les valeurs de la matrice (problème qui était totalement absent lorsque l'on considérait un
	unique tournoi comme précédemment). Enfin cette méthode délaisse totalement la possibilité
	qu'un nouveau deck ou même un rogue deck que nous avions ignoré jusque là fasse son entrée dans
	le metagame.
</p>
<p>
	Du coup l'apparente domination de UW Control dans le format modern que nous avons révélée ci-
	dessus n'est pas forcément synonyme d'une domination future de cet archétype. En fait tout va
	dépendre de la faculté des autres archétypes à réagir à cette menace et à s'y adapter en
	modifiant notament leur side.
</p>
{% endtrans %}

{% trans trimmed
	matrice_88=external("https://drive.google.com/open?id=121jvU1BC0R7x7tlkn3s5sASOLQ8zfMJZC4EipRNl8QE",_("Matrice 8x8")),
	matrice_2020=external("https://drive.google.com/open?id=1pC7N1Jr7YnQizv2fFlPIAwQ5spHMujWeL7REkAkmHp0", _("Matrice 20x20")),
	updating_matchup=external("http://www.starcitygames.com/article/36083_Updating-The-Guide-To-Every-Matchup-In-Modern.html","Updating The Guide to Every Match up In Modern"),
	img_metagame='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/metagame_modern_2017.png'))|safe,
	calculateur_proba=external("https://docs.google.com/spreadsheets/d/1t-zhBtRmeEfURzKOI7uRvATVAyK1n_qlp1_YLdO9yzo/edit#gid=1505945774","Matrice Match Up – Categorie Modern 2017")
%}
<h3>Place à la pratique</h3>
<p>
	Maintenant que vous connaissez la théorie je peux vous mettre à disposition de quoi exploiter
	vos propres matrices de match up et créer vos propres graphiques. Pour cela j'ai créé deux
	google doc éditables par tous, l'un pour des matrices de taille inférieure à 8 plus pratique et
	un autre pour des matrices pouvant aller jusqu'à une taille de 20.
</p>
<ul>
	<li>
		{{ matrice_88 }}
	</li>
	<li>
		{{ matrice_2020 }}
	</li>
</ul>
<p>
	Le fonctionnement de ces google doc est très simple. Vous pouvez éditer directement en ligne
	toutes les cases jaunes et les calculs se feront tout seul. Le seul problème de ce fichier
	c'est que si vous êtes plusieurs à vous en servir en même temps, alors vous pourrez interférez
	les uns avec les autres et personne ne pourra se servir correctement de ce fichier. Le mieux
	est encore de le télécharger directement sur votre ordinateur au format excel ou open-office
	pour vous en servir tranquillement chez vous sans être embêté.
</p>
<p>
	Il faut savoir que la méthode que nous appliquons ici n'est pas compatible sur le long terme
	avec le regroupement d'archétypes et que bien que cela crée des matrices très grosses avec
	autant de valeurs que de sources d'erreurs possibles, les résultats seront généralement plus
	cohérent. Dans son article de 2017 intitulé {{ updating_matchup }}, Ari Lax propose justement
	de travailler avec les catégories pour faire une matrice de match up. J'attire votre attention
	sur la définition que Lax donne de chacune de ses catégories qui parfois ne correspondent pas à
	celle présentée dans cet article. Il proposa la matrice suivante pour le metagame du Modern de
	2017 :
</p>
{{ img_metage }}
<p>
	Reste juste à définir les pourcentages qui vont correspondre à Bon et Excellent match up. Pour
	cela j'ai créé un autre google doc dédié à cet exemple qui vous permet de personnaliser cette
	matrice.
</p>
<ul>
	<li>
		{{ calculateur_proba }}
	</li>
</ul>
<p>
	L'analyse de cette matrice nous montre qu'en fonction des valeurs données, on trouve dans la
	plupart des cas quatre catégories qui ressortent : Creature Combo, Big Mana, Blue Midrange et
	Toolbox. Mon avis là dessus est que le manque de précision sur les valeurs de la matrice et les
	regroupement parfois hasardeux de decks dans la même catégorie tel que Affinity, Burn et
	Lantern dans Linear amène à quelques incohérences au vu des résultats des top de 2017 que ce
	soit tout tournoi confondu ou GP et PT uniquement. Pour faire court, une matrice de Match Up
	est un outil bien sympa mais qui donne des résultats assez instable et parfois aberrant suivant
	les regroupement de decks que l'on fait. Un outil à utiliser donc toujours avec un esprit
	critique.
</p>
{% endtrans %}

{% endblock %}
