{% extends "layout.html" %}
{% import "cartes-thematiques/_layout_wip.html" as layout with context %}

{% block content %}
{% trans trimmed
	mana_dork=link("/cartes-thematiques/mecaniques-de-la-colorpie/les-mana-dorks", _("mana dorks")),
	reanimation=link("/cartes-thematiques/mecaniques-de-la-colorpie/la-reanimation-de-creatures", _("réanimation")),

	classification_en_macrotypes=link("/articles/lart-de-classifier-les-decks/classification-en-macrotypes")
%}
<h1>{{ G }}Les grosses créatures</h1>
<p>
	Une grosse créature, <em>fatty</em>, est une créature dont la force et l'endurance dépassent 4/
	4 ou 5/3. C'est en général l'opposée d'une créature <em>weenie</em> qui a peu de force et
	d'endurance.
</p>
<p>
	Il est possible d'utiliser les grosses créatures pour deux objectifs différents : les créatures
	<em>Stompy</em> sont des grosses créatures très peu chères tandis que les <em>Finisher</em>
	permettent de clore la partie efficacement.
</p>
<p>
	{{ tarmogoyf }} et {{ questing_beast }} sont deux créatures apparentées à la catégorie Stompy.
	Des créatures « anti-contrôle » se retrouvent aussi dans cette catégorie comme
	{{ thrun_the_last_troll }} et {{ shifting_ceratops }} jouées dans plusieurs formats.
	{{ strangleroot_geist }}, grâce à sa capacité <em>Survivance</em>, est l'icône des créatures
	Stompy en Modern.
</p>
<p>
	À mi-chemin entre les créatures Stompy et les créatures Finisher, {{ elder_gargaroth }}
	bénéficie de mot-clés avantageux et d'une capacité très versatile qui permet à cette bête
	d'être jouée pour intervenir dans beaucoup de situations.
</p>
<p>
	{{ primeval_titan }} se rapproche des créatures Finisher car la résolution de ce sort permet de
	développer de manière très rapide son mana et d'enchaîner les fatties pour prendre le contrôle
	du champ de bataille.
</p>
<p>
	Une partie des Finisher est jouée accompagnée de {{ mana_dork }} et de cartes comme
	{{ survival_of_the_fittest }}. L'intérêt est de jouer peu de Finisher et de pouvoir y avoir
	accès dès que c'est nécessaire. Ces Finisher sont souvent des créatures comme
	{{ craterhoof_behemoth }} et {{ kamahl_heart_of_krosa }} qui fournissent un effet
	{{ overrun }}.
</p>
<p>
	D'autres Finisher sont des cibles de choix pour les effets de {{ reanimation }}.
	{{ sidisi_brrod_tyrant }} peut permettre de développer un tel plan de jeu. Les créatures vertes
	à réanimer sont {{ archetype_of_endurance }}, {{ terastodon }} ou encore {{ woodfall_primus }}.
</p>
<div class="tip">
	<h3>Jouer des grosses créatures revient-il à jouer Ramp ?</h3>
	<p>
		L'attribution d'un macrotype à un deck intéresse beaucoup car cela permet en peu de mots de
		décrire le comportement-type du deck face aux decks des autres macrotypes.
	</p>
	<p>
		Comme cela a été présenté dans {{ classification_en_macrotypes }}, les decks Ramp
		ont les mêmes comportement que les decks Contrôle face aux autres macrotypes.
	</p>
	<p>
		Cependant, est-ce que jouer {{ questing_beast }} et {{ elder_gargaroth }} voire
		{{ primeval_titan }} et {{ craterhoof_behemoth }} étiquette directement le deck au
		macrotype Ramp ?
	</p>
</div>
{% endtrans %}
{% endblock %}
