{% extends "layout.html" %}

{% block title %}
Section Cartes clé
{% endblock %}

{% block content %}
<h1>{{ _("Cartes thématiques") }}</h1>
<p>
	{% trans %}
	Cette section explore les cartes les plus jouées du format <strong>Duel Commander</strong> par
	thème.
	{% endtrans %}
</p>

<h2>{{ _("Mécaniques de la color pie") }}</h2>
{% trans trimmed
	mechanical_color_pie=external("https://magic.wizards.com/en/articles/archive/making-magic/mechanical-color-pie-2017-2017-06-05", "Mechanical Color Pie")
%}
<p>
	La <em>color pie</em> est le pentagramme des couleurs de MtG : {{ W }}{{ U }}{{ B }}{{ R }}
	{{ G }}. Chaque mécanique de MtG est reliée, de près ou de loin, à ce pentagramme. En effet,
	des couleurs sont spécialisées dans certains domaines. Mark Roosewater, dans
	{{ mechanical_color_pie }}, présente un système de classification de ces mécaniques selon ce
	que les couleurs sont censée faire en priorité dans le jeu.
</p>
{% endtrans %}
<div class="align-left">
	<table class="triple-column">
		<tr>
			<td>{{ W }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/la-destruction-de-permanents") }}</td>
		</tr>
		<tr>
			<td>{{ U }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/les-contresorts") }}</td>
		</tr>
		<tr>
			<td>{{ B }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/la-defausse") }}</td>
		</tr>
		<tr>
			<td>{{ R }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/les-degats-directs") }}</td>
		</tr>
		<tr>
			<td>{{ G }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/le-ramp") }}</td>
		</tr>
	</table>
	<table class="triple-column">
		<tr>
			<td>{{ W }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/les-cartes-de-taxe") }}</td>
		</tr>
		<tr>
			<td>{{ U }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/le-bounce-de-permanents") }}</td>
		</tr>
		<tr>
			<td>{{ B }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/la-gestion-de-creatures") }}</td>
		</tr>
		<tr>
			<td>{{ R }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/les-creatures-agressives") }}</td>
		</tr>
		<tr>
			<td>{{ G }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/les-mana-dorks") }}</td>
		</tr>
	</table>
	<table class="triple-column">
		<tr>
			<td>{{ W }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/la-protection") }}</td>
		</tr>
		<tr>
			<td>{{ U }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/les-cantrips") }}</td>
		</tr>
		<tr>
			<td>{{ B }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/la-reanimation-de-creatures") }}</td>
		</tr>
		<tr>
			<td>{{ R }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/le-remplacement-de-cartes") }}</td>
		</tr>
		<tr>
			<td>{{ G }}</td>
			<td>{{ link("/cartes-thematiques/mecaniques-de-la-colorpie/les-grosses-creatures") }}</td>
		</tr>
	</table>
</div>
<!--
<h2>{{ _("Cartes par fonctionnalité") }}</h2>
{% trans trimmed %}
<p>
	Les cartes dans cette catégorie sont répertoriées par fonctionnalité et proposent donc toutes
	des méthodes proches pour arriver au même résultat.
</p>
{% endtrans %}
<ul>
	<li>{{ link("/cartes-thematiques/les-piocheurs") }}</li>
	<li>{{ link("/cartes-thematiques/les-spot-removals") }}</li>
	<li>{{ link("/cartes-thematiques/les-mass-removals") }}</li>
	<li><em>Les Tuteurs</em></li>
	<li><em>Les Cailloux</em></li>
</ul>

<h2>{{ _("Les cycles de terrains") }}</h2>
<ul>
	<li><em>Les Fetches</em></li>
	<li><em>Les Bilands</em></li>
	<li><em>Les Shocklands</em></li>
	<li><em>Les Painlands</em></li>
	<li><em>Les Checklands</em></li>
	<li><em>Les Fastlands</em></li>
</ul>
-->
<p>
	<em>D'autres articles à venir ...</em>
</p>
{% endblock %}
