{% extends "articles/lart-de-classifier-les-decks/_layout.html" %}

{% block section %}
{% trans trimmed
%}
<h2>Introduction</h2>
<p>
	Il y a neuf mois de cela, je me suis lancé dans l'écriture d'un très gros article. Seulement
	très vite ce dernier prit de l'ampleur et son contenu devint assez technique alors qu'au
	contraire je le souhaitais à l'origine accessible. Il me fallait donc faire une petite
	introduction au préalable pour présenter les grandes stratégies que Magic pouvait offrir.
</p>

<p>
	Bienvenue donc, dans cette "petite" introduction où nous allons nous pencher sur le Metagame
	de Magic the Gathering. Le sens premier de metagame – ou meta-jeu – est l'étude des différentes
	stratégies qu'un jeu permet. Avoir une vue globale des stratégies possibles et de leurs
	efficacités les unes par rapport aux autres est un point crucial pour progresser et construire
	son jeu. Il est naturel de vouloir assimiler les decks en fonction de leurs points communs ou
	de leur plan de jeu pour mieux les étudier. Cela nous amène au principal problème que cet
	article va tenter de résoudre : Comment classer les decks ? Il y a deux approches pour cela :
</p>
<ul>
	<li>
		Soit on part d'une classification fine des decks en rassemblant sous un même nom les decks
		jouant à peu prêt les mêmes cartes et on parle alors de classification en archétypes.
	</li>
	<li>
		Soit on part d'une classification grossière où on s'intéresse au plan de jeu global des
		decks. Le but étant ici de regrouper un maximum de decks en un minimum de familles. On
		parle ici de classification en macrotypes.
	</li>
</ul>
<p>
	La première partie de cet article aura pour but de présenter les six classifications en
	macrotype les plus répandues et de comprendre les avantages et les limites de chacune.
</p>
<p>
	Dans la seconde partie, nous allons nous intéresser aux classifications en catégories, c'est à
	dire à des raffinements intermédiaires entre les classifications en macrotypes et archétypes.
	Les catégories sont en général plutôt méconnues des joueurs et je présenterais ici plus
	particulièrement l'une d'entre elle qui est personnelle bien que s'inspirant inévitablement de
	ce qu'on fait d'autres personnes avant moi.
</p>
<p>
	La troisième partie aura pour but de pousser la réflexion plus loin et vous fournira bon nombre
	de liens intéressant vers des articles complémentaires sur la classification des decks.
</p>
<p>
	Pour terminer; la quatrième partie va traiter de la classification en tier c'est à dire suivant
	la puissance des decks et de l'évolution d'un metagame avec le temps. Cette partie ambitieuse
	et assez technique vient clore cet article avec une bonne dose de mathématiques car vous y avez
	peut-être cru, mais non vous n'y échapperez pas !
</p>
<p>
	Bonne lecture à tous !
</p>
{% endtrans %}
{% endblock %}
