{% extends "layout.html" %}

{% block preload %}
<link rel="preload" href="{{ url_for('static', filename='js/decklist.js') }}" as="script">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/decklist.js') }}"></script>
{% endblock %}

{% block article %}
<article id="analysis">
{% block archetype_name %}{% endblock %}
<div id="review" class="review">
	{% block archetype %}{% endblock %}
</div>
<div id="decklist" class="decklist">
	<div id="list" class="list">
		<h2 id="deck-name"></h2>
		<p id="deck-header"></p>
		<h3 id="command_zone">Command Zone</h3>
		<ul id="commanders">
		</ul>
		<h3 id="library-header"></h3>
		<ul id="library-list">
		</ul>
	</div>
	<div id="card-decklist" class="modal-decklist" onclick="this.style.display='none'" tabindex="-1">
		<div id=card-prev class="modal-nav">&#xf077</div>
		<img class="modal-content-decklist" id="card-image-decklist">
		<div id=card-next class="modal-nav">&#xf078</div>
	</div>
	<div id="card-hover" class="hover-modal" tabindex="-1">
		<img class="modal-content" id="card-hover-image">
	</div>
</div>
</article>
{% endblock %}

{% block script %}
<script>
	window.onload = function () {
		const content = document.querySelector('meta[property="decklist"]').content
		const decklist = JSON.parse(JSON.parse(content))
		document.getElementById("card-modal").addEventListener("keydown", modalKeydown)
		document.getElementById("card-prev").addEventListener("click", prevCard)
		document.getElementById("card-next").addEventListener("click", nextCard)
		displayDeck(decklist)
	}
</script>
{% endblock %}
