{% extends "layout.html" %}
{% block preload %}
<link rel="preload" href="{{ url_for('static', filename='js/decklist.js') }}" as="script">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/decklist.js') }}"></script>
{% endblock %}
{% block meta %}
<meta property="decklist" content='{{ decklist(self.moxfield()) | tojson }}' />
{% endblock %}

{% block article %}
<article id="analysis">
	<h1>{{ page_name() }}</h1>
	{%+ if self.archetype()|trim %}
	<div id="full_review" class="review">
		{% block archetype %}{% endblock %}
	</div>
	{% endif %}

	{%+ if self.highlights()|trim %}
	<div id="highlights" class="detailed">
		<h2>{{ _("Présentation rapide") }}</h2>
		{% block highlights %}{% endblock %}
	</div>
	{% endif %}

	{%+ if self.tips()|trim %}
	<div id="tips" class="detailed">
		<h2>{{ _("Trucs et astuces") }}</h2>
		{% block tips %}{% endblock %}
	</div>
	{% endif %}

	{%+ if self.variants()|trim %}
	<div id="variants" class="detailed">
		<h2>{{ _("Variantes") }}</h2>
		{% block variants %}{% endblock %}
	</div>
	{% endif %}

	{%+ if self.bans()|trim %}
	<div id="bans" class="detailed warning">
		<h3 id="ban">{{ _("Motivation du retrait") }}</h3>
		{% block bans %}{% endblock %}
	</div>
	{% endif %}

	{%+ if self.moxfield()|trim %}
	<div class="moxfield">
		<iframe
			src="https://www.moxfield.com/embed/{% block moxfield %}{% endblock %}?hideTotal=true"
			id="moxfield-frame"
			frameBorder="0"
			width="100%"
			onload="moxfieldOnLoad(event)"
		></iframe>
	</div>
	{% endif %}

	{# Displayed here because of mobile design #}
	<div id="decklist" class="decklist">
		<div id="list" class="list">
			<h2 id="deck-name"></h2>
			<p>
				<span id="deck-header"></span>
				—
				<span id="deck-footer"></span>
			</p>
			<div class="command_zone">
				<h3 id="command_zone">Command Zone</h3>
				<ul id="commanders">
				</ul>
			</div>
			<h3 id="library">Library</h3>
			<div class="library" id="library-container">
			</div>
		</div>
	</div>
</article>
{% endblock %}

{% block script %}
{{ super() }}
<script>
var isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;

if (isMobile) {
	// Displaying custom decklist rendering
	window.onload = function () {
		const content = document.querySelector('meta[property="decklist"]').content
		const decklist = JSON.parse(JSON.parse(content))
		displayDeck(decklist)
		tippy('span.card', {
			touchHold: true,
			hideOnClick: false,
			interactive: true,
			placement: 'left',
			distance: 20,
			arrow: true,
			animateFill: false,
			animation: 'shift-away',
			// In ES5 as you don't have a transpilation step(?):
			onShow: function(instance) {
				var img = instance.popper.querySelector('img');
				img.src = img.dataset.src;
			}
		});
	}
	// Not displaying moxfield frame
	document.getElementById("moxfield-frame").style.display = "none";
} else {
	// Displaying moxfield embed
	function moxfieldOnMessage(e){const t=e.data;if("object"==typeof t&&"moxfield"===t.type){const e=document.getElementById(t.id);;e&&(e.style.height=t.data+"px")}}function moxfieldOnLoad(e){e.target&&e.target.contentWindow&&e.target.contentWindow.postMessage({type:"moxfield",data:e.target.id},"*")}window.addEventListener("message",moxfieldOnMessage);
	// Not displaying custom decklist
	document.getElementById("decklist").style.display = "none";
}
</script>
{% endblock %}
