{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout_wip.html" as layout with context %}

{% block moxfield -%}
peaQ3xAUn0SoZHm4nIw4_A
{%- endblock %}

{% block highlights %}
<p>
	{% trans trimmed
		contresorts=link("/cartes-thematiques/mecaniques-de-la-colorpie/les-contresorts", _("contresorts"))
	%}
	Principalement prison, {{ aminatou_the_fateshifter }} allie les {{ contresorts }} à la gestion
	de permanents par des permanents faisant leur effet en entrant sur le champ de bataille. Cela
	permet d'utiliser au maximum la capacité de loyauté -1 du planeswalker.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	La qualité des cartes et la facilité à réutiliser certains effets font de ce deck un deck
	asphyxiant pour l'adversaire qui aura du mal à échapper à la prison que peut mettre en place
	{{ aminatou_the_fateshifter }}.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Certaines versions du deck utilisent la combo {{ rest_in_peace }} et {{ helm_of_obedience }}
	pour avoir une possibilité de se sortir de situations qui mettent la partie en péril.
	{% endtrans %}
</p>

<div class="warning">
	<h3>{{ _("Ce deck contient des cartes bannies") }}</h3>
	<ul>
		<li>{{ gifts_ungiven }} {{ _("a été banni le 26 juillet 2021") }}</li>
	</ul>
</div>
{% endblock %}
