{% extends "archetypes/_layout.html" %}
{% import "archetypes/grenzo-dungeon-warden.json" as deck_json %}
{% import "archetypes/_layout_card_column.html" as layout with context %}

{% block title %}
Grenzo, Dungeon Warden
{% endblock %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>Grenzo, Dungeon Warden</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
	guide_recruiter=external("https://docs.google.com/document/d/1UQhb9on--RrB4z1r1gSe6wGb_2JCY7cSDhTNw1AF8a8/edit#", "Guide Recruiter"),
	card_snoop=layout.card_column("Conspicuous Snoop"),
	card_prospector=layout.card_column("Skirk Prospector"),
	card_pilferer=layout.card_column("Impulsive Pilferer"),
	card_mogg=layout.card_column("Mogg War Marshal"),
	card_denizen=layout.card_column("Foundry Street Denizen"),
	card_instigator=layout.card_column("Goblin Instigator"),
	card_token=layout.card_column("Mons's Goblin Raiders"),
	card_legion=layout.card_column("Legion Loyalist"),
	card_bush=layout.card_column("Reckless Bushwhacker"),
	card_pashalik=layout.card_column("Sling-gang Lieutenant"),
	archetype_linear_aggro=link("/articles/classifier-un-deck/les-archetypes", _("l'archétype Agro Linéaire"), _anchor="archetype_linear_aggro")
%}
<h2>Présentation rapide</h2>
<p>
	{{ grenzo_dungeon_warden }} est un deck Aggro linéaire de part sa sortie curvée terminée par la
	pose d'un lord tribal. Le deck est tourné intégralement vers l'optimisation de l'occupation du
	champ de bataille à l'issue des premiers tours, qui est sa principale condition de victoire.
	{{ grenzo_dungeon_warden }}, quant à lui, fait office à la fois de curve filler en début de
	partie (<em>l'early game</em>) ainsi que de moteur à Card Advantage après les quatre premiers
	tours environ (<em>le midgame</em>).
</p>
<p>
	Les créatures des premiers tours sont souvent moins puissantes que les cartes habituelles
	(<em>les staples</em>) d'Aggro. Les {{ goblin_king }} et autres <em>lords</em> joués tours
	trois et quatre transforment totalement la puissance et l'impact de ces créatures. Un goblin
	avec de faibles force et endurance (un faible <em>body</em>) mais un effet d'arrivée en jeu se
	verra ainsi transformé en une menace réelle dès ces tours clé atteints. Le deck s'appuie ainsi
	au maximum sur la versatilité des gobelins ainsi que le fort support tribal que fournit le type
	de créature gobelin.
</p>
<p>
	Ce deck se différencie très fortement de la plupart des autres decks Aggro du format en ce qui
	concerne l'équilibrage de ses catégories de cartes : pour optimiser la capacité de
	{{ grenzo_dungeon_warden }}, le focus est mis sur quantité de cartes qui remplissent les
	conditions de sa capacité activée et jouer moins de quarante créatures crée une trop grande
	variance. L'expérience montre qu'il faut jouer entre quarante-sept et cinquante créatures pour
	que sa capacité soit utilisée au maximum. Cette capacité influe également sur la quantité de
	terrains à avoir. Ainsi, contrairement à un deck Aggro « standard », le deck profite pleinement
	de chaque terrain joué, même une fois passé  le tour quatre. Il suffit d'un tour sur le champ
	de bataille pour que Grenzo transforme le mana disponible en armée de gobelin sans utiliser les
	cartes de la main. Ainsi, avec une quarantaine de terrains et une cinquantaine de créatures, il
	reste une place infime pour d'autres carte qui sont alors triées sur le volet. La faible
	densité de staples se ressent et doit être prise en compte lorsque le deck est joué.
</p>

<h2>Un deck Aggro ?</h2>
<p>
	Bien que le plan de jeu principal corresponde à {{ archetype_linear_aggro }}, une fois la phase
	de développement terminée, vers les tours quatre et cinq, le deck doit adapter sa tactique. En
	effet, il doit s'aligner sur le plan de jeu à adopter pour maximiser ses chances de victoire
	selon l'archétype auquel le deck de l'adversaire appartient et selon s'est déroulée cette phase
	de développement. Les changements de plan de jeu les plus fréquents sont les suivants :
</p>
<ul>
	<li>
		Contre aggro, il est très fréquent d'être en retard sur le board. Il faut prioriser
		l'aspect tribal des gobelins et les lords pour transformer quelques créatures ayant survécu
		aux créatures qu'elles bloquaient en un tour létal avec seulement deux cartes en main. Des
		cartes comme {{ judith_the_scourge_diva }} et {{ pashalik_mons }} sont très efficaces pour
		tuer les créatures de l'adversaire et reprendre l'avantage.
	</li>
	<li>
		Contre contrôle, il faut anticiper la guerre de Card Advantage des deux manières possibles.
		Soit les cartes en main seront suffisantes et il faut alors terminer la partie avant que
		l'adversaire ne puisse faire du CA ; soit il faut faire dépenser de façon continue les
		ressources de l'adversaire jusqu'à le faire craquer. Laisser constamment deux créatures en
		jeu force l'adversaire à se prévenir d'un lord qui pourrait renverser l'équilibre des
		menaces. Cette tactique permet de faire dépenser les ressources adverses en prévention
		d'une menace potentielle. Les dégats que peuvent délivrer les créatures en jeu sont très
		durs à estimer, c'est un bon atout psychologique.
	</li>
	<li>
		Contre combo, les sorties les plus aggressives peuvent suffire à prendre de vitesse
		l'adversaire. Il s'agit par défaut du match pendant lequel le deck a le moins de prise, et
		la partie passera souvent par la maximisation des dégats directs qui pourront être
		infligés. Contre les versions les moins interactives, l'accès à la combo
		{{ goblin_recruiter }} ou à un des gobelins de gestion ciblée peut s'avérer crucial.
	</li>
</ul>
<h2>Des cartes spécifiques pour changer de plan de jeu ?</h2>
<p>
	Les sorts de réanimation globale comme {{ living_death }} ou des moteurs de Card Advantage
	comme {{ experimental_frenzy }} peuvent briller lors du passage au <em>midgame</em> voire au
	<em>lategame</em>. En effet, ces cartes sont très bonnes lorsque le deck commence à
	l'essouffler ou lorsqu'il faut épuiser l'adversaire.
</p>
<p>
	Cependant, jouer des cartes spécifiques et de coût relativement élevé peut bloquer la main et
	ralentir le développement du deck. Il est donc nécessaire de prendre en compte l'impact de ces
	cartes sur la partie depuis la main de départ et non pas lorsque celles-ci deviennent jouables
	car elles occupent la place potentielle d'une carte à faible coût de mana jouable dans les
	premiers tours.
</p>
<p>
	Justifier l'inclusion d'une carte dans le deck parce qu'elle répare les dégats qu'elle fait au
	deck n'est pas un argument tangible. En effet, elle force dès le début de la partie
	l'utilisation des ressources autour d'elle de manière spécifique et elle peut simplement faire
	perdre avant de pouvoir apporter l'effet pour lequel cette carte a été ajoutée.
</p>
<p>
	Par exemple, pour préparer {{ living_death }}, il est important de dépenser ses créatures en
	conséquence, de les utiliser de façon moins conservative. Ainsi, si le sort n'est pas résolu,
	la situation sera plus défavorable que si les créatures avaient été utilisées de manière
	habituelle.
</p>
<p>
	Dans une moindre mesure, les terrains qui permettent de filtrer le dessous de la bibliothèque
	pour Grenzo, tels que {{ path_of_ancestry }}, vont ralentir le développement du deck en terme
	d'aggro et leur utilité ne sera significative que tard dans la partie. En plus de ce
	ralentissement significatif, ces cartes vont réduire tantôt la qualité des cartes en main,
	tantôt celle des cartes en dessous de la bibliothèque. Les choix induits selon la carte vue sur
	le Regard a en plus un impact sur la partie :
</p>
<ul>
	<li>
		Si une créature est laissée au-dessus, il n'y a pas de plus value ;
	</li>
	<li>
		Si une créature est envoyée en dessous de la bibliothèque, cela force l'activation de
		Grenzo pour la récupérer et donc rend la sortie plus sensible aux gestions de l'adversaire.
		La pioche a, de plus, de fortes chances de perdre en qualité ;
	</li>
	<li>
		Si un terrain est laissé au-dessus de la bibliothèque, il n'y a pas de plus value ;
	</li>
	<li>
		Si un terrain est envoyé en dessous de la bibliothèque, l'utilisation à court terme de la
		capacité de Grenzo n'a pas de sens et va dans le sens opposé à l'utilisation d'un tel outil.
	</li>
</ul>

<h2>Explications au sujet de la manabase</h2>
<p>
	La manabase du deck est soumise à un nombre important de contraintes, qui ont été ici sélectionnées, priorisées et optimisées.
	Les contraintes sont les suivantes :
	<ul>
	<li>
		Produire les couleurs nécessaires à toute sortie curvée du deck. Ici, on priorise à l'extrême le besoin de pouvoir jouer ses cartes en early, et dans un deck principalement mono-rouge cela veut dire que le support du noir va être très asymétrique. Ces manas doivent aussi venirs détapés, ce qui va fortement toucher la catégorie suivante.
	</li>
	<li>
		Les lands utilitaires. Cette catégorie rassemble les scrylands ainsi que les lands de "combat trick". Ces lands se voient très utiles en midgame, car ils comptent comme des "demi-sorts". Cependant, aucun scrylands ne rentre dans les critères principaux du deck (ils ETB tap ou sont incolores), pour un upside pas si certain comme vu plus haut. En ce qui concerne les lands de combat trick, on va garder ceux qui produisent du rouge et qui arrivent untap.
	</li>
	<li>
		Attention aux painlands. Le deck n'a aucun moyen de gagner de la vie, et joue exclusivement sur le board. Avoir des points de vie c'est se laisser la possibilité d'optimiser ses phases d'attaque et de block en pouvant encaisser les dégats avec la tête. C'est si important que tous les painlands sans alternative ({{ mana_confluence }} par rapport à {{ sulfurous_springs}}) sont cut.
	</li>
	</ul>
<div class="tip">
	<h3>L'équilibrage des couleurs</h3>
	Les gobelins sortent peut-être vite, mais coutent très cher en couleurs. La méthode d'optimisation de la manabase poour ce deck est la suivante :
	<ol>
	<li>
		La grande majorité des sorties va coûter soit {{ R }}->{{ R }}{{ R }}->1{{ R }}{{ B }} soit {{ R }}->{{ R }}{{ B }}->1{{ R }}{{ R }}. On peut donc résumer à {{ R }}->{{ R }}{{ R }}/{{ R }}{{ B }}->{{ R }}{{ R }}{{ B }} les contraintes imposées à la manabase.
	</li>
	<li>
		On enlève tous les terrains incompatibles : la majorité des {{ swamp }}, les lands noirs non-basiques, les taplands.
	</li>
	<li>
		Certaines cartes deviennent totalement incompatibles avec la manabase et sont donc écartées : les T1 {{ B }} comme {{ knucklebone_witch }} et les T3+ 1{{ B }}{{ B }}.
	</li>
	</ol>
	La boucle est bouclée et la manabase est très en phase avec nos besoins, et les cartes en accord avec la manabase.
</div>
</p>

<h2>Optimiser toutes les facettes du général</h2>
<p>
	Comme introduit un peu plus haut, la polyvalence de {{ grenzo_dungeon_warden }} est utilisée à son maximum dans le deck. Et ce sans ajouter une seule carte synergisant avec.
	Tout d'abord en early c'est un gobelin qui arrivera systématiquement on curve. Il est d'ailleurs presque toujours meilleur de poser un gros Grenzo qu'un petit Grenzo et d'activer sa capacité. Si possible il faut le jouer pour la première fois pour 4 afin d'être bolt proof ainsi que pour poser un body midrange menaçant.
</p>
<p>	
	Le deck souffre naturellement d'un manque total de CA. Cependant, ce manque est compensé par une forte curve à 3 dure à évacuer normalement par un deck aggro et un général qui arrive toujours on-curve, ce qui retarde le hellbent mais pas assez dans les MU les plus longs.
	L'absence de CA requiert donc l'utilisation la plus minutieuse des ressources disponibles afin d'arriver à l'objectif : tuer avec le board.
	Il est ici important d'identifier les deux sources de board du deck, et qu'il vaut mieux les alterner que de les utiliser en même temps :
	<ul>
	<li>
		Développer {{ grenzo_dungeon_warden }} et abuser de sa capacité.
	</li>
	<li>
		Vider sa main d'un coup, afin d'abuser des lords et surtout des donneurs de célérité.
	</li>
	</ul>
	La justification derrière ce play est que la main post early a besoin de temps pour accumuler des menaces, et qu'en dehors de la curve et d'un "power play" les gobelins ne sont pas si menaçants.
	Afin de protéger au maximum une main "combo", Grenzo sera là pour forcer les antibêtes et wrath. Un Grenzo laissé on board en late c'est potentiellement un nouveau board menaçant le tour suivant.
	Cependant, si la main n'est pas prometteuse, alors c'est le grind de {{ grenzo_dungeon_warden }} qui sera la clé du MU. Il sera plus judicieux de lâcher les menaces individuelles de la main pour forcer les removals et pour finir la game sur des capacités de Grenzo en boucle.
</p>
<p>
	En une phrase : Burn Grenzo pour protéger la main, ou burn la main pour protéger Grenzo.
</p>

<h2>Goblin recruiter, le retour du roi</h2>
<p>
	L'arrivée de {{ conspicuous_snoop }} dans le format a fait passer le {{ goblin_recruiter }} de simple carte de maitrise du topdeck à combo enabler.
	En effet, il est possible de construire une pile de gobelins léthale jouable en un seul tour et ce pour 4 manas {{ R }}.
	Un recruiter joué, c'est un signal envoyé à votre adversaire qu'il doit avoir une gestion le tour suivant, sous peine de perdre la partie.
	Il est important de prendre en compte la faible capacité du deck à protéger le combo, il peut être avisé d'overcommit ses autres cartes pour s'acheter un tour sans removal de la part de notre adversaire.
	<div class="tip">
		<h3>La pile la plus efficace</h3>
		<p>
			{{ card_snoop }}{{ card_prospector }}{{ card_pilferer }}{{ card_mogg }}{{ card_denizen }}{{ card_instigator }}{{ card_token }}{{ card_token }}{{ card_token }}{{ card_legion }}{{ card_bush }}{{ card_pashalik }}
		</p>
		<p>
			Les Raiders symbolisent l'ensemble des T1 du decks qui seront mis à cet endroit de la pile. Vous pouvez trouver un guide complet sur la construction de la pile ici : {{ guide_recruiter }}
		</p>
	</div>	
</p>

<h2>Conclusion</h2>
<p>
	{{ grenzo_dungeon_warden }} est un pack rapide et à multiples facettes ce qui le rend très plaisant à jouer et à maitriser. Cependant, bien que le deck soit renforcé régulièrement grâce à la popularité de la tribu gobelin, il reste un peu en dessous de ce qui se fait de mieux en aggro de part son manque de marge de manoeuvre qui punit fortement les missplays et une explosivité qui peut arriver un tour trop tard.
</p>

{% endtrans %}
{% endblock %}
