{% extends "layout.html" %}

{% block title %}
Section Archétypes
{% endblock %}

{% block content %}
{% trans trimmed
	deckbuilding=_("deckbuilding (<em>à venir</em>)")
%}
<h1>Archétypes</h1>
<p>
	Cette section complète l'introduction au {{ deckbuilding }} et propose des
	archétypes de tournois qui ont fait leurs preuves dans des tournois d'au
	moins 40 joueurs.
</p>
{% endtrans %}
<div class="align-left">
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link("/archetypes/adeliz-the-cinder-wind") }}</td>
				<td>(Tempo)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/aminatou-the-fateshifter") }}</td>
				<td>(Prison)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/isamaru-hound-of-konda") }}</td>
				<td>(Swarm)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/golos-tireless-pilgrim") }}</td>
				<td>(Midrange Non-Bleu)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/kess-dissident-mage") }}</td>
				<td>(Draw Go)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/kelsien-the-plague") }}</td>
				<td>(Agro Linéaire)</td>
			</tr>
		</tbody>
	</table>
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link("/archetypes/rowan-and-will-kenrith") }}</td>
				<td>(Big Spell)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/the-gitrog-monster") }}</td>
				<td>(Contrôle-Combo)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/titania-protector-of-argoth") }}</td>
				<td>(Voltron Agro)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/venser-shaper-savant") }}</td>
				<td>(Tempo)</td>
			</tr>
			<tr>
				<td>{{ link("/archetypes/winota-joiner-of-forces") }}</td>
				<td>(Voltron Combo)</td>
			</tr>
			<tr>
				<td colspan=2><em>D'autres analyses à venir</em></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
