{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout_wip.html" as layout with context %}

{% block moxfield -%}
fQcUYi9WGEKEnm5EUFEalw
{%- endblock %}

{% block highlights %}
<p>
	{% trans trimmed %}
	Il s'agit d'un deck consistant en une trentaire de cartes qui créent la colonne vertébrale. Le
	reste des cartes permet de s'assurer une adaptation aux decks attendus lors d'un tournoi ou des
	préférences personnelles. Cela en fait un deck en perpétuelle évolution.
	{% endtrans %}
</p>
<p>
	{% trans trimmed
		cartes_taxe=link("/cartes-thematiques/mecaniques-de-la-colorpie/les-cartes-de-taxe", _("créatures hatebear"))
	%}
	En Duel Commander, c'est ce qui se rapproche le plus du deck Legacy <em>Death and Taxes</em>.
	Les règles de construction du format empêchent cependant le deck d'assumer totalement ce rôle.
	La présence de {{ cartes_taxe }} permet au deck de ralentir le développement de l'adversaire
	tout en laissant la possibilité d'infliger des dégâts à l'adversaire et de clore la partie en
	limitant l'interaction adverse.
	{% endtrans %}
</p>
<p>
	{% trans trimmed
		cartes_taxe=link("/cartes-thematiques/mecaniques-de-la-colorpie/les-cartes-de-taxe", _("créatures hatebear"))
	%}
	Les {{ cartes_taxe }} peuvent ainsi permettre au deck de parfois prendre une posture de deck
	tempo plus défensive et en essayant de grignoter l'adversaire en contournant les menaces
	proposées. Il est également possible pour le deck d'être très agressif avec les cartes les plus
	efficientes en mana jusqu'à faire plier l'adversaire sous la pression.
	{% endtrans %}
</p>
<p>
	{% trans trimmed %}
	Dans l'ensemble, le plan de jeu est fait pour avoir l'avantage contre les decks contrôle avec
	des moyens pour contourner ses cartes de gestion avec des cartes comme {{ reverent_mantra }} et
	{{ flawless_maneuver }}. Cela le rend souvent moins linéaire que d'autres aggro du format et
	extrêmement plaisant à piloter.
	{% endtrans %}
</p>
<p>
	<b>{{ _("Points positifs") }}</b><br>
	{{ _("Flexibilité dans la construction du deck et dans le style de jeu ;") }}<br>
	{{ _("Une variété de commandants puissants bien que technique à apprivoiser; ") }}<br>
	{{ _("Une grande variété de synergies qui surprennent.") }}
</p>
<p>
	<b>{{ _("Points négatifs") }}</b><br>
	{% trans trimmed
		stompy=link("/cartes-thematiques/mecaniques-de-la-colorpie/les-grosses-creatures", _("créatures stompy"))
	%}
	Difficultés à combattre les champs de bataille remplis de {{ stompy }} ;
	{% endtrans %}<br>
	{{ _("Parfois insuffisant contre combo malgré quelques bonnes armes ;") }}<br>
	{{ _("Les prises de décisions ne sont pas toujours évidentes et ont des conséquences fortes
	pour la suite de la partie.") }}
</p>
{% endblock %}

{% block tips %}
<p>
	{% trans trimmed
		chroniques=external("https://www.youtube.com/channel/UCOhvG6ZoGL4EneKPEM9N8Vw","Les Chroniques du Commander"),
		theau_mery=external("https://twitter.com/theaumery","Théau Méry")
	%}
	La vidéo suivante a été réalisée par {{ chroniques }} et publiée le 25 août 2021 avec la
	participation de {{ theau_mery }} suite à sa participation au Master Zap de juillet 2021.
	{% endtrans %}
</p>
<p style="text-align: center">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/0OYP75gMOEw" title="Decktech Isamaru by Inøve" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe>
</p>
{% endblock %}
