{% extends "archetypes/_layout.html" %}
{% import "archetypes/kess-dissident-mage.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>Kess, Dissident Mage</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
	golos_tireless_pilgrim=card("Golos, Tireless Pilgrim"),
	kess_dissident_mage=card("Kess, Dissident Mage"),
	the_gitrog_monster=card("The Gitrog Monster"),

	azcanta_the_sunken_ruin=card("Azcanta, the Sunken Ruin"),
	cabal_coffers=card("Cabal Coffers"),
	castle_vantress=card("Castle Vantress"),
	clearwater_pathway=card("Clearwater Pathway"),
	creeping_tar_pit=card("Creeping Tar Pit"),
	field_of_ruin=card("Field of Ruin"),
	glacial_chasm=card("Glacial Chasm"),
	mana_confluence=card("Mana Confluence"),
	maze_of_ith=card("Maze of Ith"),
	path_of_ancestry=card("Path of Ancestry"),
	prismatic_vista=card("Prismatic Vista"),
	reflecting_pool=card("Reflecting Pool"),
	riverglide_pathway=card("Riverglide Pathway"),
	underground_river=card("Underground River"),
	urborg_tomb_of_yawgmoth=card("Urborg, Tomb of Yawgmoth"),
	valakut_molten_pinnacle=card("Valakut, the Molten Pinnacle"),

	snow_island=card("Snow-covered Island", _("neigeuse")),
	nonsnow_island=card("Island", _("non")),
	snow_swamp=card("Snow-covered Swamp", _("neigeux")),
	nonsnow_swamp=card("Swamp", _("non"))
%}
<h2>Présentation rapide</h2>
<p>
	Jamais top tier, jamais trash tier, Kess fait partie de ces généraux peu fréquents mais qui
	restent toujours présents peu importe l’évolution du format. Avec une bonne maîtrise du deck,
	réaliser une bonne performance en tournoi est accessible.
</p>
<p>
	Jouer contrôle peut être un gros investissement financier au départ mais il est possible de le
	rentabiliser. En effet, chaque carte est jouable en dehors de ce jeu et pourra trouver une
	place ailleurs.
</p>
<p>
	Il est nécessaire de maîtriser ce style de jeu pour garder confiance lorsque la partie semble
	être hors de contrôle. L’éventail de couleurs de Grixis donne accès à un panel non négligeable
	de cartes extrêmement puissantes et même doublement puissantes une fois Kess sur la table et,
	surtout, stabilisée. En effet, les performances de ce deck dépendent de la présence de
	{{ kess_dissident_mage }} sur le champ de bataille.
</p>

<h2>Construction du deck</h2>
<p>
	Comme n’importe quel deck contrôle, il est nécessaire de pouvoir jouer ses cartes sans
	rencontrer de problèmes de mana. Il faut donc pouvoir s’assurer de jouer un terrain par tour en
	early game avec un objectif de quatre terrains au tour quatre. Il est aussi important que
	chaque carte jouée ait un impact correct sur l'état de la partie.
</p>
<h3>Les terrains</h3>
<p>
	Il est important de limiter au maximum les painlands et les terrains qui arrivent en jeu
	engagés. Les premiers tours (l'<em>early game</em>) doivent se dérouler sans accroc. La
	potentielle perte de tempo qui accompagne les terrains arrivant en jeu engagés et les dégâts
	qu'infligent les painlands risquent de mettre le deck en difficulté dans les quatre à cinq
	premiers tours.
</p>
<p>
	Le nombre de land ne doit pas descendre en dessous de 38 et ne pas monter au-dessus de 42. En
	effet, hors de ces bornes, les risques d'absence ou de sur-représentation de terrains dans les
	premiers tours sont très élevés et cela risque d'endommager le bon déroulé de la majorité des
	parties.
</p>
<h4>Les fetches</h4>
<p>
	Les neuf fetchs bicolores et {{ prismatic_vista }} permettent de garantir une bonne
	distribution des sources colorées. Cela permet donc de limiter les risques de color death. Il
	faut prioriser les terrains qui produisent du mana bleu car c'est la couleur dont dépend le
	plus le deck.
</p>
<h4>Les terrains multi-colores</h4>
<p>
	Ces terrains sont regroupés par cycle et sont généralement tous à ajouter dans la liste. Se
	retrouvent dans ces catégories les biland originels, les shocklands, les checklands et les
	fastlands. Il faut aussi considérer deux à trois painlands dont au moins {{ mana_confluence }}
	et {{ underground_river }}.
</p>
<p>
	Il existe également {{ command_tower }} qu'il faut jouer car ce terrain permet d'accéder à
	toutes les couleurs de l'identité couleur de {{ kess_dissident_mage }}. Il est aussi possible
	de considérer {{ reflecting_pool }} comme un moyen de dupliquer les couleurs déjà produites.
	Selon la nécessité d'interagir avec les decks les plus rapides, {{ path_of_ancestry }} est
	envisageable car fournit directement les colorés et quelques regards, son seul défaut étant
	d'arriver en jeu engagé.
</p>
<h4>Les terrains mono-colores</h4>
<p>
	Les terrains recto-verso {{ riverglide_pathway }} et {{ clearwater_pathway }} sont à jouer car
	ils permettent l'accès à du coloré sans coûter de points de vie.
	{# SPOILER #}
	Blightstep Pathway qui sort dans Kaldheim peut aussi être à considéré pour les mêmes raison
	malgré l'absence de production de mana bleu.
</p>
<p>
	Bien qu'il faille jouer des terrains basiques, il ne faut pas en jouer en excès. En jouer entre
	quatre et cinq semble raisonnable. Il faut, dans tous les cas, jouer au moins deux îles, une
	{{ snow_island }}, une {{ nonsnow_island }}. Ensuite, s'il y a un doublement du marais, il
	faudra aussi penser à en jouer un {{ snow_swamp }} et un {{ nonsnow_swamp }}.
</p>
<h4>Les terrains utilitaires</h4>
<p>
	En plus de tous les terrains listés ci-dessus, certains terrains peuvent être considérés pour
	leur utilité :
</p>
<p>
	{{ field_of_ruin }} permet d'interagir avec les terrains de l'adversaire. Selon les decks
	attendus, cela peut être un choix intéressant pour casser des {{ azcanta_the_sunken_ruin }},
	{{ cabal_coffers }}, {{ glacial_chasm }}, {{ maze_of_ith }} ou {{ valakut_molten_pinnacle }}
 	par exemple ;
</p>
<p>
	{{ urborg_tomb_of_yawgmoth }} permet de garantir les sources de mana noir. Ce terrain peut
	favoriser l'adversaire si ce dernier joue {{ the_gitrog_monster }} ou
	{{ golos_tireless_pilgrim }} qui bénéficient de l'interaction avec {{ cabal_coffers }} par
	exemple ;
</p>
<p>
	{{ creeping_tar_pit }} produit les manas les plus importants du deck mais arrivent en jeu
	engagé, cela dépend donc du besoin de colorés comparé au besoin de terrains directement
	disponibles. Son avantage sur d'autres terrains est qu'il est animable et qu'il permet de tuer
	l'adversaire plus rapidement ;
</p>
<p>
	{{ castle_vantress }} a un effet intéressant en fin de partie car le regard permet d'avancer
	plus vite dans son deck et donc d'avoir accès à des cartes plus efficaces en terme
	d'interaction ou en terme de pression pure ;
</p>
<p>
	{{ maze_of_ith }} permet de s'armer contre les decks aggro et les decks voltron.
	{{ kess_dissident_mage }} a les caractéristiques nécessaires pour bloquer la majorité des
	créatures, ce terrain est un support qui ne produit pas de manas.
</p>
{% endtrans %}
{% endblock %}
