{% extends "archetypes/_layout.html" %}
{% import "archetypes/kess-dissident-mage.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>Kess, Dissident Mage</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
	brazen_borrower=card("Brazen Borrower"),
	baleful_strix=card("Baleful Strix"),
	bonecrusher_giant=card("Bonecrusher Giant"),
	golos_tireless_pilgrim=card("Golos, Tireless Pilgrim"),
	hullbreacher=card("Hullbreacher"),
	kess_dissident_mage=card("Kess, Dissident Mage"),
	opposition_agent=card("Opposition Agent"),
	spellskite=card("Spellskite"),
	snapcaster_mage=card("Snapcaster Mage"),
	the_gitrog_monster=card("The Gitrog Monster"),
	thing_in_the_ice=card("Thing in the Ice"),
	true_name_nemesis=card("True-Name Nemesis"),
	vendilion_clique=card("Vendilion Clique"),

	abrade=card("Abrade"),
	brainstorm=card("Brainstorm"),
	chain_lightning=card("Chain Lightning"),
	chain_of_smog=card("Chain of Smog"),
	cling_to_dust=card("Cling to Dust"),
	collective_brutality=card("Collective Brutality"),
	cryptic_command=card("Cryptic Command"),
	counterspell=card("Counterspell"),
	damnation=card("Damnation"),
	demonic_tutor=card("Demonic Tutor"),
	fact_or_fiction=card("Fact or Fiction"),
	fatal_push=card("Fatal Push"),
	fiery_confluence=card("Fiery Confluence"),
	gifts_ungiven=card("Gifts Ungiven"),
	kolaghans_command=card("Kolaghan's Command"),
	lightning_bolt=card("Lightning Bolt"),
	mystic_confluence=card("Mystic Confluence"),
	petty_theft=card("Petty Theft"),
	preordain=card("Preordain"),
	ponder=card("Ponder"),
	serum_visions=card("Serum Visions"),
	stomp=card("Stomp"),
	sweltering_suns=card("Sweltering Suns"),
	tainted_pact=card("Tainted Pact"),
	thoughtseize=card("Thoughtseize"),
	toxic_deluge=card("Toxic Deluge"),

	blood_moon=card("Blood Moon"),

	ashiok_dream_render=card("Ashiok, Dream Render"),
	chandra_torch_of_defiance=card("Chandra, Torch of Defiance"),
	jace_the_mindsculptor=card("Jace, the Mindsculptor"),
	jace_wielder_of_mysteries=card("Jace, Wielder of Mysteries"),
	liliana_of_the_veil=card("Liliana of the Veil"),
	liliana_the_last_hope=card("Liliana, the Last Hope"),
	narset_parter_of_veils=card("Narset, Parter of Veils"),
	ral_storm_conduit=card("Ral, Storm Conduit"),

	azcanta_the_sunken_ruin=card("Azcanta, the Sunken Ruin"),
	blightstep_pathway=card("Blightstep Pathway"),
	cabal_coffers=card("Cabal Coffers"),
	castle_vantress=card("Castle Vantress"),
	clearwater_pathway=card("Clearwater Pathway"),
	command_tower=card("Command Tower"),
	creeping_tar_pit=card("Creeping Tar Pit"),
	field_of_ruin=card("Field of Ruin"),
	glacial_chasm=card("Glacial Chasm"),
	mana_confluence=card("Mana Confluence"),
	maze_of_ith=card("Maze of Ith"),
	path_of_ancestry=card("Path of Ancestry"),
	prismatic_vista=card("Prismatic Vista"),
	reflecting_pool=card("Reflecting Pool"),
	riverglide_pathway=card("Riverglide Pathway"),
	underground_river=card("Underground River"),
	urborg_tomb_of_yawgmoth=card("Urborg, Tomb of Yawgmoth"),
	valakut_molten_pinnacle=card("Valakut, the Molten Pinnacle"),

	snow_island=card("Snow-covered Island", _("neigeuse")),
	nonsnow_island=card("Island", _("non")),
	island=card("Island", _("Île")),
	snow_swamp=card("Snow-covered Swamp", _("neigeux")),
	nonsnow_swamp=card("Swamp", _("non")),
	swamp=card("Swamp", _("Marais"))
%}
<h2>Présentation rapide</h2>
<p>
	Jamais top tier, jamais trash tier, Kess fait partie de ces généraux peu fréquents mais qui
	restent toujours présents peu importe l’évolution du format. Avec une bonne maîtrise du deck,
	réaliser une bonne performance en tournoi est accessible.
</p>
<p>
	Jouer Contrôle peut être un gros investissement financier au départ qui est possible de
	rentabiliser. En effet, chaque carte est jouable en dehors de ce jeu et pourra trouver une
	place ailleurs.
</p>
<p>
	Il est nécessaire de maîtriser ce style de jeu pour garder confiance lorsque la partie semble
	être hors de contrôle. L’éventail de couleurs de Grixis donne accès à un panel non négligeable
	de cartes extrêmement puissantes et même doublement puissantes une fois Kess sur la table et,
	surtout, stabilisée. En effet, les performances de ce deck dépendent de la présence de
	{{ kess_dissident_mage }} sur le champ de bataille.
</p>

<h2>Jouer avec le deck</h2>
<p>
	Il n’existe pas de match avec une issue connue d'avance, il faut se battre pour gagner, c’est
	ce qui rend le deck intéressant à jouer. Plus que l'impact individuel des cartes ou du
	général, ce qui compte le plus sont la manière d'appréhender la partie, la réponse aux menaces
	proposées par l'adversaire et les décisions prises tout au long de la partie.
</p>
<p>
	Comme c'est un deck Contrôle, il se joue de manière réactive. La capacité à répondre à toute
	éventualité dans les premiers tours dépend des cartes actives, de leur quantité et de leur
	qualité.
</p>
<p>
	Il ne faut garder ni trop ni trop peu de terrains en main de départ car cela nuit à la quantité
	et à la qualité des sorts qui peuvent être lancés. Toutefois, l'objetctif est
	d'avoir quatre terrains sur le champ de bataille au tour quatre, donc les mains de départ à
	trois ou quatre terrains sont idéales. Seuls des <em>cantrips</em> comme {{ preordain }} et
	{{ serum_visions }} peuvent faire fléchir cette règle.
</p>
<ul>
	<li>
		<strong>Aggro</strong> :
		{{ lightning_bolt }}, {{ fatal_push }}, et une <em>wrath</em> comme {{ toxic_deluge }}
		sculptent les meilleures mains. Il ne faut surtout pas hésiter à gérer chaque créature de
		l'adversaire pour lui faire perdre le maximum de pression sur le champ de bataille. Il faut
		impérativement maintenir un niveau de points de vie suffisamment élevé avant l’arrivée de
		{{ kess_dissident_mage }} pour garder une marge de manœuvre suffisante qui permettra de
		tirer le meilleur de Kess.
	</li>
	<li>
		<strong>Contrôle</strong> :
		des <em>cantrips</em> ({{ ponder}} et consorts), des contres ({{ counterspell }} et
		assimilés) et de la défausse ({{ thoughtseize}} et autres) sont les armes à privilégier.
		Une main remplie presque totalement de cartes bleues face à Contrôle n’est pas un souci, au
		contraire. Les cantrips adverses ne sont pas une menace, les arpenteurs et les tutors, si.
		Les anti-bêtes sont à recycler sur {{ collective_brutality }} par exemple. Les blasts
		peuvent être utiles face aux arpenteurs ou pour grignoter les points de vie de l’adversaire
		et le forcer à prendre une position plus défensive, ce qui le mettra en difficulté.
	</li>
	<li>
		<strong>Combo</strong> :
		de la discard, de la gestion et des contres sont tout aussi importants. Il faut être
		capable de répondre à tout moment à l’amorce d’une combo, c’est pourquoi les cartes donnant
		l’information sur la main adverse sont très importantes. Il est toujours complexe de jouer
		contre ce type de deck et il sera sûrement nécessaire de laisser passer quelques cartes qui
		ont un impact correct sur la partie (parfois des créatures, parfois des tutors, parfois des
		éléments de la combo) pour ne pas être épuisé au moment fatidique.
	</li>
</ul>

<div class="tip">
	<h3>Anticiper le style de jeu de l'adversaire</h3>
	<p>
		Sauf cas particulier, il est possible de déterminer le macrotype voire l’archétype choisi
		par l’adversaire en voyant le général. Cela permet donc d’estimer de manière assez fiable
		si les cartes en main auront un impact ou non.
	</p>
</div>
{% endtrans %}
{% endblock %}
