{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout_wip.html" as layout with context %}

{% block moxfield -%}
p7GX_VmC6EmrpmTGsmeNqA
{%- endblock %}

{% block highlights %}
<p>
    {% trans trimmed %}
    Il s'agit d'un deck <em>midrange non-bleu</em> qui a l'avantage de pouvoir maintenir une
    quantité suffisante de cartes en main grâce à la résolution du commandant. En effet, son effet
    d'arrivée en jeu en jeu permet de remplir sa main d'une carte de chaque <em>guilde</em>
    présente parmi les dix révélées.
    {% endtrans %}
</p>

<p>
    {% trans trimmed %}
    La contrainte du commandant demande de la rigueur pour équilibrer les quantités : avoir trop de
    cartes d'une paire de couleur et pas assez d'une autre entraînera inévitablement une pioche
    moins importante.
    {% endtrans %}
</p>
{% endblock %}

{% block tips %}
<p>
    {% trans trimmed %}
    Les créatures du deck permettent de générer de la présence sur le champ de bataille et de
    mettre l'adversaire en difficulté. Lorsque l'équilibre penche en faveur de ce deck,
    l'adversaire a beaucoup de mal à modifier l'issue de la partie. C'est à ce moment-là que le
    deck tend à s'exprimer pleinement. Jouer {{ niv_mizzet_reborn }} permet de prendre un avantage
    considérable et de, quasiment, verrouiller la partie en sa faveur.
    {% endtrans %}
</p>

<p>
    {% trans trimmed %}
    Le deck utilisant au maximum toutes les combinaisons de couleur, les choix de terrains sont
    déterminants pour l'issue de la partie. Les choix, qu'ils soient bons ou mauvais, influent sur
    l'issue de la partie. La répartition des guildes tant en coût de coloré et en coût de mana peut
    être une solution à cet éventuel problème.
    {% endtrans %}
</p>
{% endblock %}
