{% extends "strategie/lart-de-classifier-les-decks/_layout.html" %}

{% block section %}
<p>
	{% trans %}
	Cet article est de taille conséquente. Pour faciliter la lecture, son contenu a été réparti sur
	plusieurs pages :
	{% endtrans %}
</p>

<ul>
	<li>{{ link("/strategie/lart-de-classifier-les-decks/introduction") }}</li>
	<li>{{ link("/strategie/lart-de-classifier-les-decks/classification-en-macrotypes") }}</li>
	<li>{{ link("/strategie/lart-de-classifier-les-decks/les-categories-de-decks") }}</li>
	<li>{{ link("/strategie/lart-de-classifier-les-decks/pour-aller-plus-loin") }}</li>
	<li>{{ link("/strategie/lart-de-classifier-les-decks/la-classification-en-tiers") }}</li>
</ul>
{% endblock %}
