{% extends "strategie/lart-de-classifier-les-decks/_layout.html" %}

{% block section %}
<h2>{{ _("La classification en tier et l'évolution d'un metagame") }}</h2>
{% trans trimmed
%}
<h3>La classification en tier</h3>
<p>
	Une manière totalement différente de vouloir classer les decks est de les échelonner par
	puissance au sein du format et il existe tout un vocabulaire pour cela
</p>
<p>
	Commençons par crever l'abcès. "Tier" signifie échelon en anglais, et n'a donc aucun rapport
	avec la fraction 1/3. Cette confusion est d'autant plus grande au niveau des joueurs français
	que l'on classe usuellement les decks en trois tiers.
</p>
<ul>
	<li>
		Le tier 1 représente les decks les plus joués et les plus performants en tournois, ils sont
		la référence du metagame et souvent les decks les plus joués. On appelle aussi ces decks
		les DTB (Deck to Beat), ce qui signifie les decks à battre. Ces decks forment communément
		le Gauntlet du format.
	</li>
	<li>
		Le tier 2 représente les "outsiders" : des decks plus ou moins connus, qui se révèlent
		dominants à une occasion particulière ou capables de gagner quelques places dans les Top 8.
		On appelle aussi ces decks les DTW (Deck to Watch), ce qui signifie les decks à surveiller.
	</li>
	<li>
		Enfin, le tier 3 regroupe les autres decks, pouvant créer la surprise ponctuellement, mais
		qui ne réalisent pas régulièrement des performances.
	</li>
</ul>
<p>
	Il existe également des decks hors metagame que l'on appelle communément les decks fun ou
	casual et il arrive de rajouter un tier 1.5 lorsque le metagame est très riche et qu'on
	retrouve une différence de niveau au sein des decks tier 2.
</p>
<p>
	Donc ça c'est la théorie. Dans la pratique pour classer les différents archétypes, on regarde
	simplement leur représentativité dans les top des tournois. Ceux qui gagneront le plus de
	tournois seront appelés les tier 1 et ainsi de suite.
</p>
{% endtrans %}

{% trans trimmed
	img_matrice='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/matchup_modern_2018.png'))|safe,
	img_graph='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/graph_proba_modern_2018.png'))|safe,
	img_metagame='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/metagame_modern_2018.png'))|safe,
	img_proba_restreintes='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/graph_proba_restreintes_modern_2018.png'))|safe
%}
<h3>Une matrice des Match up pour simuler des tournois</h3>
<p>
Enfin, nous y voilà ! Il est grand temps de faire des maths !
</p>
<p>
	J'ai évoqué plus haut les diagrammes selon lesquels les macrotypes d'un format étaient sensé
	s'équilibrer de manière théorique. Et bien dans cette partie on va pousser le principe encore
	plus loin. Non seulement on va utiliser les catégories ou les archétypes à la place des
	macrotypes mais en plus on ne va plus se contenter d'une simple flèche pour dire qu'un deck en
	bat un autre. En effet nous allons créer un graphe de probabilité complet où on indiquera sur
	chaque branche la probabilité qu'un deck a de gagner contre un autre.
</p>
<p>
	Construire un tel graphe demande soit une très bonne connaissance du format que l'on considère,
	soit et c'est mieux, d'avoir une grosse base de données à disposition. Mais dans tout les cas,
	les probabilités seront forcément des estimations (ce sera d'ailleurs notre principale source
	d'erreur). Construire ce graphe revient finalement à construire une matrice c'est à dire un
	tableau où l'on inscrit la probabilité qu'un archétype/catégorie ait de gagner contre un autre
	(avec 0,5 pour les miroirs).
</p>
<p>
	Il est grand temps de vous donner un exemple. Ci dessous se trouve une matrice des match up
	d'archétypes Modern collectés sur les GP de Vegas, Sao Paulo et Barcelone en 2018 qui ont été
	postés sur twitter/reddit :
</p>
{{ img_matrice }}
<p>
	Bon c'est bien joli tout ça mais à quoi ça sert ?
</p>
<p>
	Cela sert ni plus ni moins qu'à simuler des tournois et par suite à identifier les meilleurs
	decks du format (le tier 1 théorique donc). Pour ce faire voici comment on va procéder :
</p>
<ul>
	<li>
		On considère que chaque deck est joué suivant des proportions égales (ou personnalisées)
	</li>
	<li>
		Chaque deck affronte un deck au hasard à chaque ronde dans un tournoi à élimination direct.
	</li>
	<li>
		La proportion de chaque archétype est modifié à chaque ronde en raison des éliminations.
	</li>
	<li>
		On regarde enfin la probabilité qu'un deck a d'atteindre la ronde numero N.
	</li>
</ul>
<p>
	Si on reprend notre matrice des match up du Modern ci-dessus, alors en considérant que chaque
	archétype est joué en proportion égal, seul 6 archétypes ont une probabilité supérieure à 1/18
	de gagner un tournoi de dix rondes. Dans l'ordre : UW Control (0,20), KCI (0,11), Counters Coco
	(0,10), Humans (0,08), Hollow One (0,06) et Grixis Shadows (0,06).
</p>
{{ img_graph }}
<p>
	Cette matrice nous donne en effet des résultats particulièrement bon concernant UW Control qui
	semble dominer le format actuel si on se fie aux chiffres donnés par la matrice. Mais poussons
	maintenant l'étude plus loin en partant de la proportion dans laquelle ces différents decks ont
	été joués lors des trois GP de Vegas, Sao Paulo et Barcelone.
</p>
{{ img_metagame }}
<p>
	Nous obtenons alors un tout nouveau graphique qui place UW Control toujours en tête avec une
	probabilité de victoire relativement proche (0,18) malgré une proportion de UW Control au
	départ plus faible.
</p>
{{ img_proba_restreintes }}
<p>
	Une autre possibilité qui fait le lien avec ce qui précède est de regrouper les decks en
	catégories pour observer leur match up.
</p>
{% endtrans %}

{% trans trimmed %}
<h3>L'évolution d'un metagame serait-elle prédictible ?</h3>
<p>
	En jouant sur la proportion de chaque archétype au départ, ne pourrait-on pas anticiper
	l'évolution d'un metagame dans le temps ? Hum... Eh bien oui ce serait la méthode à appliquer,
	mais cette entreprise sur le long terme voir même sur le moyen terme est hélas vouée à l'échec.
</p>
<p>
	Je m'explique.
</p>
<p>
	Tout d'abord nous devons considérer que la proportion de chaque deck lors des tournois ne
	dépend que de la faculté que ces decks ont de gagner des tournois et que le capital sympathie
	qu'ils peuvent avoir ne rentre pas en ligne de compte. Pour faire court : on est dans un
	contexte compétitif et pas dans du Kitchen Magic. On obtient à ce moment là un système
	dynamique discret où on assimile le metagame à un instant T à la proportion dans laquelle les
	archétypes seront joués à l'instant T+1. Jusque là tout va bien et en fait notre problème
	revient exactement au même qu'augmenter le nombre de ronde d'un tournoi. Ça semble presque trop
	facile non ?
</p>
<p>
	Il y a en effet plusieurs problèmes derrière cette méthode. Premièrement nous avons ici un
	système dynamique qui a de bonnes chances d'être chaotique, c'est à dire que des écarts sur les
	valeurs initiales ou sur la matrice de départ peuvent entrainer des résultats très différents à
	l'arrivée. Je vous rappelle au passage que les valeurs de la matrice de départ sont déjà des
	approximations ! Mais ça ce n'est rien à côté du second problème, à savoir le fait qu'en
	réalité notre matrice de match up elle aussi dépend de l'instant T ! En effet, lorsque le
	metagame évolue les decklist et en particulier les side s'adaptent pouvant changer grandement
	les valeurs de la matrice (problème qui était totalement absent lorsque l'on considérait un
	unique tournoi comme précédemment). Enfin cette méthode délaisse totalement la possibilité
	qu'un nouveau deck ou même un rogue deck que nous avions ignoré jusque là fasse son entrée dans
	le metagame.
</p>
<p>
	Du coup l'apparente domination de UW Control dans le format modern que nous avons révélée ci-
	dessus n'est pas forcément synonyme d'une domination future de cet archétype. En fait tout va
	dépendre de la faculté des autres archétypes à réagir à cette menace et à s'y adapter en
	modifiant notament leur side.
</p>
{% endtrans %}

{% trans trimmed
	matrice_88=external("https://drive.google.com/open?id=121jvU1BC0R7x7tlkn3s5sASOLQ8zfMJZC4EipRNl8QE",_("Matrice 8x8")),
	matrice_2020=external("https://drive.google.com/open?id=1pC7N1Jr7YnQizv2fFlPIAwQ5spHMujWeL7REkAkmHp0", _("Matrice 20x20")),
	updating_matchup=external("http://www.starcitygames.com/article/36083_Updating-The-Guide-To-Every-Matchup-In-Modern.html","Updating The Guide to Every Match up In Modern"),
	img_metagame='<img src="%(url)s"/>'|format(url=url_for('static', filename='img/metagame_modern_2017.png'))|safe,
	calculateur_proba=external("https://docs.google.com/spreadsheets/d/1t-zhBtRmeEfURzKOI7uRvATVAyK1n_qlp1_YLdO9yzo/edit#gid=1505945774","Matrice Match Up – Categorie Modern 2017")
%}
<h3>Place à la pratique</h3>
<p>
	Maintenant que vous connaissez la théorie je peux vous mettre à disposition de quoi exploiter
	vos propres matrices de match up et créer vos propres graphiques. Pour cela j'ai créé deux
	google doc éditables par tous, l'un pour des matrices de taille inférieure à 8 plus pratique et
	un autre pour des matrices pouvant aller jusqu'à une taille de 20.
</p>
<ul>
	<li>
		{{ matrice_88 }}
	</li>
	<li>
		{{ matrice_2020 }}
	</li>
</ul>
<p>
	Le fonctionnement de ces google doc est très simple. Vous pouvez éditer directement en ligne
	toutes les cases jaunes et les calculs se feront tout seul. Le seul problème de ce fichier
	c'est que si vous êtes plusieurs à vous en servir en même temps, alors vous pourrez interférez
	les uns avec les autres et personne ne pourra se servir correctement de ce fichier. Le mieux
	est encore de le télécharger directement sur votre ordinateur au format excel ou open-office
	pour vous en servir tranquillement chez vous sans être embêté.
</p>
<p>
	Il faut savoir que la méthode que nous appliquons ici n'est pas compatible sur le long terme
	avec le regroupement d'archétypes et que bien que cela crée des matrices très grosses avec
	autant de valeurs que de sources d'erreurs possibles, les résultats seront généralement plus
	cohérent. Dans son article de 2017 intitulé {{ updating_matchup }}, Ari Lax propose justement
	de travailler avec les catégories pour faire une matrice de match up. J'attire votre attention
	sur la définition que Lax donne de chacune de ses catégories qui parfois ne correspondent pas à
	celle présentée dans cet article. Il proposa la matrice suivante pour le metagame du Modern de
	2017 :
</p>
{{ img_metage }}
<p>
	Reste juste à définir les pourcentages qui vont correspondre à Bon et Excellent match up. Pour
	cela j'ai créé un autre google doc dédié à cet exemple qui vous permet de personnaliser cette
	matrice.
</p>
<ul>
	<li>
		{{ calculateur_proba }}
	</li>
</ul>
<p>
	L'analyse de cette matrice nous montre qu'en fonction des valeurs données, on trouve dans la
	plupart des cas quatre catégories qui ressortent : Creature Combo, Big Mana, Blue Midrange et
	Toolbox. Mon avis là dessus est que le manque de précision sur les valeurs de la matrice et les
	regroupement parfois hasardeux de decks dans la même catégorie tel que Affinity, Burn et
	Lantern dans Linear amène à quelques incohérences au vu des résultats des top de 2017 que ce
	soit tout tournoi confondu ou GP et PT uniquement. Pour faire court, une matrice de Match Up
	est un outil bien sympa mais qui donne des résultats assez instable et parfois aberrant suivant
	les regroupement de decks que l'on fait. Un outil à utiliser donc toujours avec un esprit
	critique.
</p>
{% endtrans %}
{% endblock %}
