body {
    background-color: #e3e7e9 !important;
}

/* Footer to bottom of page if not enough content */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
article {
   flex: 1;
}

/* Couleur des sections */
.bg-header {
    background-color: #99A5C5 !important;
}

.card-name {
    color: #C05746 !important;
}
.card-image {
	padding: 0;
	outline: 0;
	max-width: 250px;
}

li ul {
    padding-top: : 2vh;
    padding-bottom: 2vh;
}

.clear {
    padding: 0;
    margin: 0;
    border: 0;
    clear: both;
}

.tip {
    padding: 0.5em 2em;
    border-radius: 1em;
    margin: 1.5em;
    clear: both;
}
.tip h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f0eb";
    font-size: 1.5em;
    margin-right: 0.5em;
}
.tip {
    background: #F7E3D1;
    border: 1px solid #DC8C46;
}
.tip h3 {
    color: #583410 !important;
}
.tip h3 a {
    color: #583410 !important;
}
.tip h3::before {
    color: #583410;
}
