body {
    background-color: #e3e7e9 !important;
}

/* Footer to bottom of page if not enough content */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
article {
   flex: 1;
}

/* Couleur des sections */
.bg-header {
    background-color: #99A5C5 !important;
}

.card-name {
    color: #C05746 !important;
}
.card-image {
    padding: 0;
    outline: 0;
    max-width: 250px;
}

.list-group > * {
    background-color: #e3e7e9 !important;
}

li ul {
    padding-top: : 2vh;
    padding-bottom: 2vh;
}

.clear {
    padding: 0;
    margin: 0;
    border: 0;
    clear: both;
}

/****************
 *      TIP     *
 **************** */
.tip {
    padding: 0.5em 2em;
    border-radius: 1em;
    margin: 1.5em;
    background: #F7E3D1;
    border: 1px solid #DC8C46;
    clear: both;
}
.tip .h3,
.tip .h3 a {
    color: #583410 !important;
}
.tip .h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f0eb";
    font-size: 1.5em;
    margin-right: 0.5em;
}


/****************
 *   WARNING    *
 **************** */
article div.warning {
    padding: 0.5em 2em;
    border-radius: 1em;
    margin: 1.5em;
    background: #E48586;
    border: 1px solid #911419;
    color: #222831;
    clear: both;
}
.warning .h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f071";
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #911419;
}
.warning .h3,
.warning .h3 a {
    color: #911419 !important;
}

/****************
 *TABLE MATIERES*
 **************** */
 .toc-down::after {
     font-family: "FontAwesome";
     font-weight: bold;
     font-size: smaller;
     margin-left: 0.5em;
     content: "\f063";
 }

 .toc-up::after {
     font-family: "FontAwesome";
     font-weight: bold;
     font-size: smaller;
     margin-left: 0.5em;
     content: "\f062";
 }

 .indent {
     padding-left: 2em;
 }
 .extraindent {
     padding-left: 4em;
 }
 .extraextraindent {
     padding-left: 6em;
 }
