{% extends "layout.html" %}

{% block content %}
{% trans trimmed
	roue_des_archetypes=link("/strategie/theorie/la-roue-des-archetypes"),
	qui_est_agresseur=link("/strategie/theorie/qui-est-agresseur"),
	metagame=link("/strategie/pratique/metagame"),
	deckbuilding=link("/strategie/pratique/deckbuilding"),
	manabase=link("/strategie/pratique/manabase")
%}
<p>
	Cette section explore la stratégie de <strong>Magic: the Gathering</strong>. La section
	<strong>Aspects théoriques</strong> explore les concepts fondateurs du jeu tandis que la
	section <strong>Aspects pratiques</strong>.
</p>

<h2 id="theorie">Aspects théoriques</h2>
<ul>
	<li>
		{{ roue_des_archetypes }} explore le concept d'archétype
	</li>
	<li>
		{{ qui_est_agresseur }} reprend le concept de <em>beatdown</em>
	</li>
</ul>

<h2 id="pratique">Aspects pratiques</h2>
<ul>
	<li>
		Définition de ce qu'est le {{ metagame }}
	</li>
	<li>
		{{ deckbuilding }} présente comment construire un deck
	</li>
	<li>
		{{ manabase }} vous aide à choisir vos terrains
	</li>
</ul>

{% endtrans %}
{% endblock %}
