{% extends "layout.html" %}

{% block content %}
<p>
	{% trans %}
	Cette section explore la stratégie de <strong>Magic: the Gathering</strong>. La section
	<strong>Aspects théoriques</strong> explore les concepts fondateurs du jeu tandis que la
	section <strong>Aspects pratiques</strong>.
	{% endtrans %}
</p>

<div class="align-left">
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link("/strategie/lart-de-classifier-les-decks") }}</td>
				<td>({{ _("Metagame") }})</td>
			</tr>
			<tr>
				<td>{{ link("/strategie/complexite-et-machine-de-turing") }}</td>
				<td>({{ _("Mathematiques") }})</td>
			</tr>
		</tbody>
	</table>
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ _("Autres articles à venir ...") }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
