{% extends "index.html" %}

{% block title %}
404 - Not Found
{% endblock %}

{% block banner %}
<div class="banner_container col-12">
    <img src="{{ url_for('static', filename='img/banner.jpg') }}" alt="Bannière" style="width:100%;" class="opacity-75">
    <div class="centered"><h1 class="fs-1 text-capitalize">Page non trouvée</h1></div>
</div>
{% endblock %}

{% block article %}
<div class="col-8 mx-auto mt-6">
    <p class="text-center">La page que vous essayez d'atteindre n'existe pas.</p>
    <p class="text-center"><a href="{{ url('') }}" class="text-reset text-decoration-underline">Page d'accueil</a></p>
</div>
{% endblock %}
